#catchup-category-title {
	color: #fff;
	font-size: 45px;
	text-align: center;
	margin: 40px 0 0px 0;
}

#catchup-channels-container {
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 950px;
	overflow-y: scroll;
}

.catchup-channel-item-container {
	padding: 3px 0;
}

.catchup-channel-item-wrapper {
	white-space: nowrap;
	background: rgba(234, 241, 231, 0.4);
	padding: 10px 0;
	transition: all 0.1s;
}

.catchup-channel-item-wrapper.active {
	background: rgba(84, 128, 224, 0.78);
}

.catchup-channel-item-icon {
	height: 50px;
	width: auto;
}

.catchup-channel-num {
	color: #fff;
	font-size: 35px;
	display: inline-block;
	width: 7%;
	text-align: center;
	vertical-align: middle;
}

.catchup-channel-item-icon-wrapper {
	display: inline-block;
	width: 7%;
	vertical-align: middle;
	text-align: center;
}

.catchup-channel-name-programme-wrapper {
	display: inline-block;
	width: 81%;
	vertical-align: middle;
	color: #fff;
	text-align: left;
}

.catchup-channel-name {
	font-size: 32px;
	font-weight: normal;
}

.catchup-channel-programme-wrapper {
	white-space: nowrap;
	font-size: 24px;
	height: 36px;
}

.catchup-channel-programme-name {
	width: 80%;
	vertical-align: middle;
	display: inline-block;
	font-weight: normal;
}

.catchup-channel-programme-time {
	width: 20%;
	vertical-align: middle;
	text-align: right;
	display: inline-block;
	font-weight: normal;
}

.catchup-channel-progress-container {
	height: 7px;
	background: #d4d7d8;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
}

.catchup-channel-progress-bar {
	position: absolute;
	left: 0;
	height: 100%;
	background: #f34a09;
}

.catchup-channel-right-icon-wrapper {
	display: inline-block;
	width: 4%;
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
}

#catchup-page-left-part {
	border-right: 2px solid white;
	overflow-x: hidden;
	overflow-y: scroll;

	display: inline-block;
	width: 25%;
	height: 100vh;
}

#catchup-page-right-part {
	overflow-x: hidden;
	overflow-y: scroll;

	display: inline-block;
	width: 74.5%;
	height: 100vh;
	padding: 20px 80px;
	font-size: 26px;
	color: white;
}

#catchup-page-title {
	color: white;
	font-size: 36px;
	text-align: center;
	padding: 40px;
	height: 150px;
}

.catchup-page-time {
	color: white;
	font-size: 30px;
	margin-left: 30px;
}

.catchup-page-day-list {
	color: white;
	font-size: 30px;
}

.catchup-page-time-list {
	color: white;
	font-size: 20px;
	padding: 10px 0;
}

.catchup-page-time-list.active {
	color: white;
}

#program-date-container {
	color: white;
	height: 80vh;
	overflow-y: scroll;
	position: relative;
}

.program-date-wrapper {
	display: inline-block;
	font-size: 34px;
	padding: 5px 30px;
	color: #fff;
	width: 100%;
}

.program-date-wrapper.pre-active {
	background: transparent;
}

.program-date-wrapper.active .program-date {
	color: yellow;
}

#channel-image-container {
	margin-top: 20px;
	text-align: center;
}

#channel-image-container img {
	width: 90px;
}

#catchup-page-channel-name {
	padding: 0 30px 30px 30px;
	color: white;
	font-size: 30px;
	height: 10vh;
}

.program-menu-item {
	padding: 15px 30px 15px 30px;
}

.program-menu-item.active {
	border: solid 2px yellow;
	padding: 15px 30px 15px 30px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

#channel-image-container {
	margin-top: 20px;
	display: inline-block;
}

#channel-name {
	display: inline-block;
	font-size: 34px;
	margin-left: 16px;
	vertical-align: sub;
}

#program-menu-container {
	margin-top: 20px;
	padding: 10px 20px;
	height: 80vh;
	overflow-y: scroll;
	position: relative;
}

#catchup .program-menu-item {
	margin-right: 150px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;
	font-size: 30px;
	color: #fff;
	width: 98%;
	margin-bottom: 9px;
	margin-left: 6px;
	margin-top: -4px;
}

.chachup-program-description {
	margin-left: 100px;
	display: none;
}

.control-level-2 {
	padding: 20px;
}

#catchup-page-video {
	width: 100%;
	height: 100%;
}

#catchup-list-search {
	color: #fff;
	margin-left: 100px;
	border-radius: 50px;
	width: 40%;
	margin: auto;
	border: solid 2px rgba(255, 255, 255, 0.4);
	background-color: transparent;
	margin-bottom: 40px;
	margin-left: 280px;
}

#catchup-list-search-input {
	font-size: 35px;
	outline: none;
	box-shadow: none;
	background: transparent;
	border-style: none;
	width: 80%;
	vertical-align: middle;
	color: #fff;
	padding: 16px 0;
	border-radius: 127px;
}

#catchup-list-search-icon {
	width: 8%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

#catchup-list-search-icon img {
	width: 50px;
}

#catchup-list-page {
	padding: 30px 30px 20px 30px;
}

#catchup-list-page .top-menu-search-bar {
	width: 100%;
}

#catchup-list-search.active {
	border: solid 2px yellow;
}

#catchup-category-section,
#catchup-channel-section {
	margin-top: 30px;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 81vh;
	position: relative;
}

#catchup-list-page .channel-icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
	align-items: center;
	vertical-align: unset;
}

.catchup-category-name {
	width: 79%;
	display: inline-block;
	text-overflow: ellipsis;
}

.catchup-category-length {
	display: inline-block;
	text-align: right;
}

.catchup-category-arrow {
	position: absolute;
	right: 30px;
}
