#stream-category-page {
    padding: 50px;
}

#category-page-logo {
    padding-left: 50px;
}

#category-page-stream-type {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

#top-info-icons-container .top-info-icons-container {
    margin-left: 20px;
}

#stream-category-container {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    font-size: 0;
    position: relative;
    overflow-y: scroll;
}

.stream-category-item-container {
    display: inline-block;
    width: 50%;
    padding: 0 20px;
    margin-bottom: 5px;
}

.stream-category-item-wrapper {
    color: #efefef;
    font-size: 30px;
    background: rgba(73, 82, 84, 0.87);
    padding: 10px;
    transition: all 0.1s;
}

.stream-category-item-wrapper.active {
    color: #fff;
    background: #659adc;
}

.stream-category-icon {
    margin-right: 30px;
    vertical-align: middle;
    margin-left: 10px;
}

.stream-category-icon img {
    height: 40px;
}

.stream-category-name {
    width: 680px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 25px;
    vertical-align: middle;
}

.stream-category-stream-count {
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    text-align: right;
}

.stream-category-count-icon {
    vertical-align: middle;
    display: inline-block;
    margin-top: -5px;
}