#home-logo-container {
	width: 350px;
	position: fixed;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
}

.header .logo {
	display: inline-block;
}

.header .logo img {
	display: inline-block;
	margin-top: 100px;
}

#home-page {
	width: 85%;
	margin: auto;
}

#home-page .header {
	height: 35vh;
}

#home-page .main {
	height: 50vh;
}

.header-txt {
	font-size: 36px;
	display: inline-block;
	position: absolute;
	right: 100px;
	margin-top: 100px;
}

#home-page .footer {
	height: 15vh;
}

.app-version {
	font-size: 36px;
	position: absolute;
	right: 100px;
}

.live-tile {
	background: rgba(255, 0, 0, 0.25);
	border: 4px solid transparent;
	padding: 18% 0%;
	border-radius: 22px;
}

.live-tile.active {
	border: solid 4px white;
	border-radius: 22px;
}

.live-tile img {
	width: 175px;
}

.live-tile p {
	margin: 15px 0px 0px 0px;
	font-size: 40px;
	text-align: center;
}

.movies-tile {
	background: rgba(255, 0, 0, 0.25);
	height: 220px;
	border: 4px solid transparent;
	border-radius: 14px;
	background-size: 100% 100%;
	padding: 40px 0px;
	font-size: 32px;
	text-align: center;
	font-weight: 700;
}

.movies-tile.active {
	border: solid 4px white;
	border-radius: 14px;
}

.movies-tile p {
	margin: 15px 0px 0px 0px;
	font-size: 28px;
	text-align: center;
	white-space: initial;
}

.movies-tile img {
	height: 70px;
}

.setting-tile {
	margin-bottom: 20px;
	position: relative;
	background: transparent;
	border: solid 4px rgba(255, 0, 0, 0.25);
	padding: 38px 30px 37px 30px;
	border-radius: 16px;
	height: 140px;
}

.setting-tile.active {
	border: solid 4px white;
	border-radius: 16px;
}

.setting-tile img {
	float: left;
	width: 55px;
}

.setting-tile p {
	font-size: 33px;
	float: left;
	padding-left: 30px;
	padding-top: 4px;
}

.pl-0 {
	padding-left: 0 !important;
}
#home-expire-date-container {
	position: fixed;
	right: 40px;
	color: #fff;
	top: 20px;
	font-size: 35px;
	padding: 15px 25px;
	border-radius: 15px;
}

#home-expire-date-label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	font-weight: normal;
}

#home-expire-date {
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
}

#home-page-partial-bg-1 {
	height: 100vh;
}

#home-logo-container img {
	width: 100%;
}

.menu-item-container {
	width: 16.6%;
	display: inline-block;
	vertical-align: middle;
	padding: 15px 10px;
	margin-top: 0px;
}

.menu-item-txt {
	color: #fff;
	font-size: 25px;
	margin-top: 15px;
	background: #444;
	border-radius: 35px;
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	background: linear-gradient(90deg, #ff3636 50%, #484848 100%);
}

.menu-item-container.active .menu-item {
	transform: scale(1.1);
	font-weight: bold;
	background: #6690ef;
}

.menu-item-img {
	height: 210px;
	max-width: 100%;
}

.hide-category-btn-wrapper {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 5px;
	padding-right: 5px;
	width: 33.33%;
	display: inline-block;
}

.hide-category-btn-wrapper:first-child {
	padding-left: 0;
}

.hide-category-btn {
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 35px;
}

.hide-category-btn:hover,
.hide-category-btn.active {
	background: #ffff00 !important;
	color: #333;
}

.hide-category-btn-wrapper.active .hide-category-btn {
	background: #ffff00 !important;
	color: #333;
}

#hide-modal-categories-container {
	max-height: 64vh;
	overflow: scroll;
}

#clear-history-series-modal-container {
	max-height: 64vh;
	overflow: scroll;
}

.clear-history-series-modal-button {
	margin-top: 20px;
}

.clear-history-movies-modal-button {
	margin-top: 20px;
}

#clear-history-movies-modal-container {
	max-height: 64vh;
	overflow: scroll;
}

#clear-history-channels-modal-container {
	max-height: 64vh;
	overflow: scroll;
}

.hide-category-modal-option {
	padding: 9px 20px;
	border-radius: 5px;
	color: #fff;
	border: 2px solid #33253c;
	background-color: #504358;
	margin-bottom: 2px;
}

.clear-history-movies-modal-option {
	padding: 9px 20px;
	border-radius: 5px;
	background: #504358;
	color: #fff;
	border: 2px solid #504358;
	margin-bottom: 4px;
}

.player-ratio-modal-option {
	padding: 9px 20px;
	border-radius: 5px;
	color: #fff;
	border: 2px solid #33253c;
	background-color: #504358;
	margin-bottom: 2px;
}

.clear-history-series-modal-option {
	padding: 9px 20px;
	border-radius: 5px;
	color: #fff;
	border: 2px solid #33253c;
	background: #504358;
	margin-bottom: 2px;
}

.time-format-modal-option,
.livestream-format-modal-option,
.disable-parent-control-modal-option {
	padding: 9px 20px;
	border-radius: 5px;
	color: #fff;
	border: 2px solid #33253c;
	background: #504358;
	margin-bottom: 2px;
}

.hide-category-modal-option.active {
	border: 2px solid yellow;
}

.clear-history-movies-modal-option.active {
	border: 2px solid yellow;
}

.player-ratio-modal-option.active {
	border: 2px solid yellow;
}

.clear-history-series-modal-option.active {
	border: 2px solid yellow;
}

.time-format-modal-option.active,
.livestream-format-modal-option.active,
.disable-parent-control-modal-option.active {
	border: 2px solid yellow;
}

.hide-category-checkbox {
	position: absolute;
	display: none;
}

.hide-category-checkbox + label {
	position: relative;
	display: block;
	font-size: 35px;
	cursor: pointer;
	margin-bottom: 0 !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.time-format-checkbox + label {
	position: relative;
	display: block;
	padding-left: 60px;
	font-size: 35px;
	cursor: pointer;
	margin-bottom: 0 !important;
}

.hide-category-checkbox + label:before {
	position: absolute;
	top: 7px;
	right: 0;
	display: inline-block;
	width: 35px;
	height: 35px;
	content: '';
	border: 3px solid #ddd;
}

.hide-category-checkbox + label:after {
	position: absolute;
	display: none;
	content: '';
}

.hide-category-checkbox:checked + label:before {
	animation-name: none;
}

.hide-category-checkbox:checked + label:after {
	display: block;
}

.hide-category-checkbox + label:before {
	border-radius: 3px;
}

.hide-category-checkbox + label:after {
	top: 8px;
	right: 9px;
	box-sizing: border-box;
	width: 16px;
	height: 21px;
	transform: rotate(40deg);
	border-width: 3px;
	border-style: solid;
	border-color: #33253c;
	border-top: 0;
	border-left: 0;
}

.hide-category-checkbox:checked + label:before {
	background: #ddd;
}

.hide-category-checkbox:checked[disabled] + label:before {
	border: #c9e2f9;
	background: #c9e2f9;
}

.hide-category-checkbox:checked + label:before {
	border: #ddd;
}

.time-format-modal-option.active .hide-category-checkbox + label:before,
.livestream-format-modal-option.active .hide-category-checkbox + label:before {
	border: 3px solid #ddd;
}

.time-format-modal-option.active
	.hide-category-checkbox:checked
	+ label:before {
	border: 3px solid #ddd;
}

.livestream-format-modal-option.active
	.hide-category-checkbox:checked
	+ label:before {
	border: 3px solid #ddd;
}

.hide-category-modal-option.active .hide-category-checkbox + label:before {
	border: 3px solid #ddd;
}

.hide-category-modal-option.active
	.hide-category-checkbox:checked
	+ label:before {
	border: 3px solid #ddd;
}

.clear-history-movies-modal-option.active
	.hide-category-checkbox
	+ label:before {
	border: 3px solid #ddd;
}

.player-ratio-modal-option.active .hide-category-checkbox + label:before {
	border: 3px solid #ddd;
}

.clear-history-movies-modal-option.active
	.hide-category-checkbox:checked
	+ label:before {
	border: 3px solid #ddd;
}

.player-ratio-modal-option.active
	.hide-category-checkbox:checked
	+ label:before {
	border: 3px solid #ddd;
}

.clear-history-series-modal-option.active
	.hide-category-checkbox
	+ label:before {
	border: 3px solid #ddd;
}

.clear-history-series-modal-option.active
	.hide-category-checkbox:checked
	+ label:before {
	border: 3px solid #ddd;
}

.home-modal-btn-1 {
	width: 120px;
}

#non-epg-title,
#epg-info-text {
	font-size: 35px;
	color: #fff;
	margin: 10px 0;
}

#non-epg-icon {
	margin-right: 10px;
}

#epg-info-text-2 {
	font-size: 25px;
	color: #eee;
}

#epg-loader-img {
	display: block;
	margin: 10px auto;
}

.modal-type-2 .modal-title {
	color: #222;
	font-weight: bold;
}

.modal-operation-menu-type-4 {
	color: #222;
	font-weight: normal;
	border-radius: 0;
}

.modal-operation-menu-type-4.active,
.modal-operation-menu-type-4:hover {
	background: #444;
	color: #fff;
	border-radius: 0 !important;
}

#select-language-body {
	max-height: 686px;
	overflow-y: scroll;
	padding: 10px 10px;
}

#theme-modal-body {
	max-height: 800px;
	overflow-y: scroll;
}

.recent-viewed-container {
	margin-top: 50px;
}

.recent-viewed-title {
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	margin-left: 10px;
}

.recent-views-items-container {
	white-space: nowrap;
	position: relative;
	overflow-x: scroll;
}

.recent-item-container {
	display: inline-block;
	padding: 10px;
}

.recent-item-wrapper {
	position: relative;
	width: 250px;
	height: 300px;
	background: #696767;
	border-radius: 10px;
	overflow: hidden;
	transition: all 0.2s;
}

.recent-item-wrapper.active {
	background: #6690ef;
	transform: scale(1.05);
}

.recent-item-img-wrapper {
	height: 100%;
	width: 100%;
}

.recent-item-img {
	position: absolute;
	width: 80%;
	max-height: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: block;
	margin-top: -30px;
}

.recent-item-name-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: rgba(45, 50, 62, 0.62);
	transition: all 0.2s;
}

.recent-item-name {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	padding: 0 10px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.recent-item-wrapper.active .recent-item-name-wrapper {
	background: #f1ce23;
}

.recent-item-wrapper.empty-item-wrapper {
	background: rgba(105, 103, 103, 0.6);
}
