@media screen and (max-width: 1281px) {
	.logo-img {
		width: 150px;
	}

	.header-txt {
		font-size: 26px;
		text-align: right;
		right: 0;
		margin-top: 70px;
		margin-right: 80px;
	}

	.wrapTile {
		height: 60px;
	}

	.settingTile {
		margin-bottom: 21px;
		position: relative;
		border: solid 2px #ff000040;
		padding: 20px 30px 0px 30px;
		border-radius: 10px;
	}

	.wrapTile img {
		float: left;
		width: 40px;
	}

	.wrapTile p {
		font-size: 26px;
		font-weight: 700;
		float: left;
		padding-left: 30px;
		padding-top: 0px;
	}

	.reloadPortalTile {
		margin-bottom: 21px;
		position: relative;
		border: solid 2px #ff000040;
		padding: 20px 30px 0px 30px;
		border-radius: 10px;
	}

	.exitTile {
		margin-bottom: 20px;
		position: relative;
		border: solid 2px #ff000040;
		padding: 19px 30px 0px 30px;
		border-radius: 16px;
	}

	.wrapLeft {
		padding: 70px 0px;
		font-size: 32px;
		text-align: center;
	}

	.wrapLeft p {
		margin: 10px 0px 0px 0px;
		font-size: 30px;
		text-align: center;
		white-space: initial;
	}

	.wrapCenter p {
		margin: 15px 0px 0px 0px;
		font-size: 32px;
		text-align: center;
	}

	.wrapCenter img {
		width: 100px;
	}

	.top-bar {
		padding: 0px;
	}

	.channel-page-category-item,
	.channel-menu-item {
		padding: 10px 10px;
		font-size: 20px;
		width: 100%;
		margin-bottom: 2px;
		border: solid 2px rgba(255, 255, 255, 0.4);
	}

	#channel-page .channel-information-container {
		padding: 10px;
	}

	#channel-page-bottom-container {
		position: absolute;
		left: 0px;
		bottom: 0;
		width: 100%;
		text-align: center;
		padding: 10px;
	}

	.live-catchup-button-list {
		font-size: 14px;
		border-radius: 5px;
		padding: 6px 18px;
		margin-right: 10px;
		border: solid 1px rgba(255, 255, 255, 0.1);
	}

	#search-value {
		font-size: 20px;
	}

	#vod-series-search-icon img {
		width: 30px;
	}

	#vod-series-search-bar {
		margin-left: 100px;
		border-radius: 30px;
		padding: 0 10px;
	}

	.movie-series-icon img {
		width: 80px;
	}

	#search_icon {
		width: 20px;
	}

	#vod-series-search-input {
		font-size: 20px;
	}

	#sort-button-container {
		padding: 0px 10px;
	}

	#sort-button-icon img {
		width: 20px;
	}

	.vod-series-menu-item-title-wrapper {
		font-size: 13px;
		color: #fff;
		height: 50px;
		position: relative;
	}

	.vod-series-menu-item-container img {
		width: 100%;
		height: 160px;
		width: 100%;
		height: 220px;
		object-fit: fill;
	}

	#sort-modal-wrapper {
		left: 329px;
		top: 135px;
		font-size: 20px;
		border-radius: 5px;
		border: solid 1px yellow;
		min-width: 184px;
	}

	#vod-summary-image-wrapper img,
	#series-summary-image-wrapper img {
		left: 85px;
		width: 210px;
	}

	#series-watch-movie-button {
		margin-left: 0px;
	}

	#vod-summary-name,
	#series-summary-name {
		font-size: 22px;
		font-weight: 700;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.vod-summary-information-container {
		height: 220px;
	}

	.setting-menu-item-container {
		height: 180px;
	}

	.setting-menu-item-icon-container img {
		width: 50px;
		height: 50px;
	}

	.setting-mac-address {
		font-size: 28px;
	}

	.playlist-item-wrapper {
		font-size: 20px;
		padding: 10px 10px;
		height: 130px;
	}

	.playlist-icon-wrapper {
		font-size: 20px;
	}

	.playlist-state {
		font-size: 14px;
		width: 100px;
	}

	.playlist-name {
		font-size: 20px;
	}

	#playlist-page-right-part {
		font-size: 20px;
		padding: 60px 30px;
	}

	.login-note-txt-color {
		font-size: 24px;
	}

	.login-note-txt-color-2 {
		color: #fff534;
		font-size: 24px;
	}

	#qr-code-container img {
		width: 180px;
		height: 180px;
	}

	#playlist-qr-code {
		margin-left: 64px;
		margin-top: 60px;
		padding: 1px;
	}

	.loading-logo {
		width: 350px;
		margin-bottom: 90px;
	}

	#loading-page .loader-image-container {
		top: 55%;
	}

	.loading-gif {
		width: 20%;
	}

	.hide-category-checkbox + label {
		font-size: 20px;
		margin-bottom: 0 !important;
	}

	.hide-category-checkbox + label:before {
		top: 3px;
		right: 0px;
		width: 26px;
		height: 27px;
		border: 1px solid #fff;
	}

	.login-page-container {
		padding-top: 0px;
	}

	#login-page-note-2-container {
		font-size: 30px;
		padding: 50px;
	}

	.login-button {
		margin: 0 auto;
		width: 130px;
		font-size: 16px;
		padding: 4px 0;
		border-radius: 6px;
	}

	#login-page-note-2-container {
		font-size: 26px;
		text-align: center;
		width: fit-content;
		padding: 50px 50px 5px 50px;
	}

	#login-qr-code {
		padding: 8px 0px 8px 8px;
		text-align: center;
		margin-right: 18px;
		margin-top: 80px;
	}

	#login-qr-code img {
		width: 250px;
		height: 250px;
	}

	.qr-code-wrapper {
		padding: 0;
	}

	/* .movies-tile {
		height: 290px;
	} */

	.series-tile {
		height: 290px;
	}

	.accountTile {
		height: 140px;
	}

	.changeServerTile {
		height: 140px;
	}

	#sort-button {
		font-size: 20px;
	}

	#sort-button-container.active {
		border: solid 1px yellow;
		border-radius: 2px;
		padding: 0px 10px;
	}

	#vod-summary-action-container,
	#series-summary-action-container {
		height: 80px;
		padding: 20px;
	}

	#vod-summary-action-container,
	#series-summary-action-container {
		margin-top: 30px;
	}

	.vod-series-action-btn {
		font-size: 25px;
		border-radius: 50px;
		padding: 15px 26px;
		margin-right: 10px;
	}

	#vod-summary-description,
	#series-summary-description {
		margin-top: 8px;
		font-size: 20px;
		line-height: 30px;
	}

	.vod-summary-item-label {
		margin-right: 15px;
		width: 120px;
		display: inline-block;
		vertical-align: top;
	}

	.vod-summary-item {
		margin-bottom: 0;
		font-size: 20px;
		white-space: nowrap;
	}

	.vod-summary-item-text {
		font-size: 20px;
	}

	.vod-genre-text-content {
		font-size: 20px;
	}

	.vod-genre-text-year {
		font-size: 20px;
	}

	.rating {
		color: #888888;
		font-size: 24px;
		height: 27px;
		width: auto;
		margin: 0;
		padding: 0;
	}

	.rating-mark {
		margin-left: 10px;
		color: #fff;
		font-size: 22px;
		font-weight: bold;
	}

	.series-action-btn,
	.vod-action-btn {
		font-size: 20px;
		font-weight: 700;
	}

	#vod-watch-trailer-button i img {
		width: 22px;
	}

	#vod-watch-movie-button img {
		width: 22px;
	}

	#vod-add-favorite-button div i img {
		width: 22px;
	}

	.full-screen-channel-name {
		font-size: 24px;
	}

	.full-screen-program-names-wrapper,
	.full-screen-programme-times-wrapper {
		font-size: 20px;
	}

	.video-resolution {
		font-size: 12px;
	}

	.live-video-control-icon p {
		margin-bottom: 0;
		font-size: 16px;
	}

	.live-video-control-icon i.active {
		padding: 30px 15px 30px 15px;
	}

	.live-video-control-icon i img {
		width: 30px;
	}

	#entire-search-input {
		font-size: 20px;
	}

	#live-entire-search .title {
		font-size: 18px;
		color: white;
		margin-top: 6px;
	}

	.live-movie-item {
		height: 172px;
		text-align: center;
	}

	.e-movie-item {
		margin-top: -33px;
	}
	.movie-item-wrapper img {
		width: 125px;
		height: 135px;
	}

	.cast-item-wrapper img {
		width: 130px;
		height: 130px;
	}

	#movie-entire-search .title {
		font-size: 18px;
		color: white;
		margin-top: 2px;
	}

	.entire-movie-item-wrapper,
	.entire-series-item-wrapper {
		width: 130px;
		height: 160px;
	}

	.movie-thumbernail-title {
		font-size: 14px;
		width: 99%;
	}

	#series-entire-search .title {
		font-size: 18px;
		color: white;
		margin-top: 2px;
	}

	.program-date-wrapper {
		font-size: 22px;
	}

	.catchup-page-right-part {
		font-size: 20px;
	}

	#catchup-page-title {
		font-size: 28px;
		padding: 30px;
		height: 100px;
	}

	#channel-name {
		display: inline-block;
		font-size: 25px;
		margin-left: 6px;
	}

	#channel-image-container img {
		width: 100px;
	}

	.program-date-wrapper-date {
		font-size: 18px;
	}

	.next-program-item {
		font-size: 17px;
		color: #fff;
		white-space: nowrap;
	}

	#channel-title {
		font-size: 20px;
		color: #fff;
	}

	#catchup-page-right-part {
		width: 74.5%;
		height: 100vh;
		padding: 20px 80px;
		font-size: 20px;
	}

	.catchup-click-img {
		width: 18px;
		height: 18px;
	}

	.setting-menu-item-icon-container {
		font-size: 20px;
		color: #fff;
		text-align: center;
		margin: 10px 0;
	}

	.channel-page-category-item:hover,
	.channel-page-category-item.active,
	.channel-menu-item:hover,
	.channel-menu-item.active {
		border: solid 2px yellow;
		width: 100%;
	}

	.vod-series-category-item {
		padding: 6px 10px;
		font-size: 20px;
		padding: 10px 16px;
		font-size: 20px;
		width: 100%;
		margin-bottom: 2px;
		border: solid 1px rgba(255, 255, 255, 0.4);
	}

	.vod-series-category-item:hover,
	.vod-series-category-item.active {
		border: solid 1px yellow;
	}

	#vod-series-search-back-button-wrapper {
		display: inline-block;
		width: 100%;
		padding: 6px;
		margin-bottom: 4px;
		margin-top: 4px;
	}

	#channel-back-button-text {
		font-size: 20px;
	}

	#search-btn-text {
		padding: 0;
		font-size: 22px;
		margin-left: 10px;
		align-items: center;
		justify-content: end;
	}

	#search-btn-text {
		font-size: 20px;
	}

	#vod-series-menus-container {
		font-size: 0;
		position: relative;
		height: 580px;
		overflow-y: scroll;
	}

	.login-note-2-txt {
		padding: 4px 0;
	}

	#qr-code-text {
		font-size: 16px;
		margin-left: 45px;
	}

	.top-bar-logo img {
		height: 60px;
		width: 65px;
		margin-top: 0px;
	}

	.wrapLeft img {
		height: 90px;
	}

	.vod-series-menu-item-container {
		width: 19%;
		padding: 8px;
	}

	#vod-series-page {
		border-top: solid 1px white;
	}

	#vod-series-left-part {
		border-right: solid 1px white;
		padding: 0 2px;
	}

	#all-vod-counter,
	#all-series-counter {
		font-size: 20px;
		padding-right: 60px;
	}

	#vod-series-search-bar.active {
		border: solid 2px yellow;
	}

	.search-button {
		border: solid 1px rgba(255, 255, 255, 0.4);
		padding: 4px 10px;
	}

	#sort-button-container {
		border: solid 1px rgba(255, 255, 255, 0.4);
		padding: 0px 10px;
	}

	.search-button.active {
		border: solid 1px yellow;
		padding: 4px 10px;
	}

	#search_icon {
		color: white;
		margin-top: -14px;
	}

	.back-button {
		border: solid 1px rgba(255, 255, 255, 0.4);
		padding: 4px 10px;
	}

	.back-button.active {
		border: solid 1px yellow;
		padding: 4px 10px;
	}

	.home-live-tile,
	.movies-tile,
	.playlist-tile,
	.catchup-tile,
	.series-tile,
	.fav-tile,
	.series-tile {
		border: 2px solid rgba(255, 255, 255, 0.4);
		height: 220px;
	}

	.accountTile {
		border: 2px solid rgba(255, 255, 255, 0.4);
		border-radius: 8px;
	}

	.changeServerTile {
		border: 2px solid rgba(255, 255, 255, 0.4);
		border-radius: 8px;
	}

	.changeServerTile.active {
		border: solid 2px white;
		border-radius: 8px;
	}

	.settingTile.active {
		border: solid 2px white;
		border-radius: 10px;
	}

	.reloadPortalTile.active {
		border: solid 2px white;
		border-radius: 10px;
	}

	.exitTile.active {
		border: solid 2px white;
		border-radius: 10px;
	}

	.playlist-item-wrapper {
		border: 1px solid rgba(255, 255, 255, 0.4);
	}

	.setting-menu-item-wrapper {
		border: 1px solid rgba(255, 255, 255, 0.4);
	}

	.modal-title-text {
		font-size: 26px;
	}

	.language-operation-modal {
		font-size: 20px;
	}

	#select-language-body {
		max-height: 410px;
	}

	.modal-header-bg-img-1 {
		padding: 6px;
	}

	#select-language-body {
		padding: 10px 10px;
	}

	.hide-category-modal-option.active {
		border: 1px solid yellow;
	}

	.hide-category-modal-option.active
		.hide-category-checkbox:checked
		+ label:before {
		border: 1px solid #fff;
	}

	.hide-category-modal-option.active .hide-category-checkbox + label:before {
		border: 1px solid #fff;
	}

	.hide-category-checkbox + label:after {
		top: 8px;
		right: 7px;
		width: 10px;
		height: 14px;
	}

	.language-operation-modal.active {
		color: #fff;
		border: 1px solid yellow;
	}

	.language-operation-modal {
		padding: 8px 10px;
		border: 1px solid #67a3ab;
	}

	.hide-category-modal-option {
		border: 1px solid #67a3ab;
	}

	#series-summary-episode-items-container-wrapper {
		padding: 25px;
	}

	.episode-item-wrapper {
		font-size: 20px;
		margin-bottom: 10px;
		height: 180px;
		border: solid 1px rgba(255, 255, 255, 0.4);
	}

	.episode-image-wrapper img {
		width: 250px;
		height: 100%;
	}

	#vod-series-video-time-container {
		font-size: 0;
		margin-top: 8px;
	}

	#vod-series-player-page .video-time {
		font-size: 14px;
		padding: 0 18px;
	}

	#vod-series-progress-controls-container {
		margin: 0 auto;
		padding: 10px 0px 4px 0px;
		width: 95%;
	}

	#vod-series-video-controls-wrapper {
		margin: 0px auto !important;
		margin-bottom: 0;
		font-size: 0;
	}

	.video-control-icon-img-container img {
		width: 30px;
		height: 30px;
		margin-left: 0;
	}

	.video-control-icon i.active {
		width: 50px;
		height: 50px;
		padding: 0px 0px;
	}

	.clear-history-series-modal-option {
		padding: 6px 12px;
		border-radius: 5px;
		color: #fff;
		border: 1px solid #67a3ab;
		margin-bottom: 4px;
	}

	.clear-history-series-modal-option {
		padding: 6px 12px;
		border-radius: 5px;
		color: #fff;
		border: 1px solid #67a3ab;
		margin-bottom: 2px;
	}

	.clear-history-series-modal-option.active
		.hide-category-checkbox
		+ label:before {
		border: 1px solid #fff;
	}

	.clear-history-series-modal-button-container button {
		min-width: 150px;
		margin-bottom: 10px;
	}

	.clear-history-modal-button {
		margin-top: 10px;
	}

	.modal-dialog.modal-xl {
		min-width: 700px;
	}

	#vod-series-video-progressbar-container {
		height: 6px;
	}

	#stop-playback-txt {
		font-size: 26px !important;
	}

	#stop-playback-desc {
		font-size: 22px !important;
	}

	.modal-dialog.modal-lg {
		min-width: 600px;
	}

	#stop-playback-cancel {
		width: 150px;
		margin-left: 20px;
		margin-right: 100px;
	}

	#vod-series-video-title {
		padding: 20px;
		font-size: 20px;
	}

	#stop-playback-btn {
		width: 150px;
	}

	#stop-playback-container {
		margin-top: 30px;
	}

	#stop-playback-modal-container {
		padding-top: 0px;
	}

	.clear-history-movies-modal-option.active {
		border: 1px solid yellow;
	}

	.clear-history-movies-modal-option {
		border: 1px solid #2f1547;
	}

	.clear-history-movies-modal-option.active
		.hide-category-checkbox
		+ label:before {
		border: 1px solid #fff;
	}

	.user-account-item-wrapper {
		font-size: 22px;
	}

	.modal-body.p-20 {
		padding: 10px 20px;
	}

	.exit-modal-title,
	#reload-modal-title {
		font-size: 20px !important;
	}

	#exit-modal-desc,
	#reload-modal-desc {
		color: #fff;
		font-size: 22px !important;
		margin: 10px 0;
	}

	.exit-modal-btn-container,
	#reload-modal-btn-container {
		margin-top: 30px;
	}

	#exit-modal-cancel,
	#reload-modal-cancel {
		width: 140px;
		margin-left: 10px;
		margin-right: 130px;
	}

	.exit-modal-btn,
	#reload-modal-btn {
		width: 140px;
	}

	.login-button.active {
		border: 2px solid yellow;
	}

	.resume-progress-bar {
		height: 7px;
	}

	.season-item-container {
		font-size: 20px;
		padding: 10px 0px 10px 60px;
		margin-right: 5px;
		margin-bottom: 0px;
	}

	.episode-item-wrapper.active {
		border: solid 1px yellow;
	}

	#episode-img {
		height: 126px;
		vertical-align: inherit;
	}

	#vod-summary-image-wrapper img {
		left: 10%;
		height: 300px;
		border-radius: 6px;
	}

	.time-format-modal-option.active {
		border: 1px solid yellow;
	}

	.time-format-modal-option {
		border: 1px solid #67a3ab;
	}

	.user-account-modal-header {
		border-bottom: none;
		padding: 4px;
	}

	#series-summary-image-wrapper img {
		height: 250px;
		width: 190px;
	}

	#series-favorite-icon {
		margin-bottom: 4px;
		width: 24px;
	}

	#youtube-icon {
		margin-bottom: 4px;
		width: 24px;
	}

	#player-icon {
		margin-bottom: 4px;
		width: 24px;
	}

	#vod-favorite-icon {
		margin-bottom: 4px;
		width: 24px;
	}

	#vod-youtube-icon {
		margin-bottom: 4px;
		width: 24px;
	}

	#vod-player-icon {
		margin-bottom: 4px;
		width: 24px;
	}

	.favorite-badge i img {
		width: 24px;
		height: 24px;
		background: none;
	}

	.favorite-badge {
		top: 6px;
		font-size: 20px;
		right: 10px;
	}

	#channel-page .channel-icon {
		width: 20px;
		height: 20px;
		margin-right: 6px;
	}

	#channel-page .channel-number {
		width: 45px;
		margin-right: 0px;
		text-align: center;
		display: inline-block;
	}

	.live-catchup-button-list.active {
		border: solid 1px yellow;
	}

	.favorite-icon {
		width: 24px;
	}

	.program-date {
		margin-bottom: 0;
	}

	#channel-page-categories-container {
		height: 588px;
	}

	#channel-page-menu-container {
		border-left: solid 1px #ffffff;
		height: 645px;
	}

	.clear-history-series-modal-option.active {
		border: 1px solid yellow;
	}

	.modal-btn-1.active {
		border: solid 1px yellow;
	}

	.modal-btn-1 {
		border: transparent solid 1px;
		font-size: 20px !important;
		padding: 5px 20px !important;
		font-size: 20px;
	}

	.top-menu-titles {
		font-size: 20px;
	}
	.playlist-page-activation-txt {
		margin-top: 30px;
	}

	.h-min {
		font-size: 50px;
	}
	.month-date {
		font-size: 20px;
	}
	.item img {
		width: 30px;
		height: 30px;
		margin: 5px;
	}

	.playlist-expired-text {
		font-size: 20px;
		padding: 0 10px;
	}

	#menu-wrapper {
		padding: 30px 50px;
	}

	#catchup-tile p {
		font-size: 28px;
	}

	#catchup-tile img {
		width: 38px;
	}

	.home-top-bar {
		padding: 5px;
		margin-top: 20px;
	}

	.home-bottom-bar {
		padding: 5px;
		right: 85px;
		bottom: 45px;
	}

	.home-menu.active {
		border: solid 2px yellow;
	}

	.playlists-icon {
		width: 38px;
	}
	.playlists-text {
		font-size: 28px;
		margin-left: 10px;
	}
	.fav-playlist-wrapper {
		margin-top: 10px;
	}

	.element-7 {
		padding-left: 5px;
		padding-right: 5px;
	}

	.favorites-icon {
		width: 38px;
	}
	.favorites-text {
		font-size: 28px;
	}

	.element-6 {
		padding-left: 5px;
		padding-right: 5px;
	}

	.element-5 {
		padding-right: 0px;
	}

	#live-category-search-value,
	#vod-series-category-search-value {
		font-size: 20px;
	}

	#live-category-search,
	#vod-series-category-search {
		padding: 6px 15px;
	}
	#live-category-search-icon img,
	#vod-series-category-search-icon img {
		width: 30px;
		margin-bottom: 3px;
	}

	.rating-badge {
		left: 10px;
		top: 10px;
		font-size: 17px;
		background-color: rgba(37, 37, 204, 0.8);
		padding: 0px 14px;
		border-radius: 4px;
	}

	.top-menu-titles.home-page-title {
		padding: 9px;
		margin-top: 20px;
	}
	.home-page-title-icon {
		width: 18px;
	}

	.page-title-wrapper {
		width: 40px;
		height: 40px;
	}

	.playlist-page-logo {
		width: 70px;
		height: 65px;
		margin-top: -20px;
	}

	.entire-movie-item-wrapper,
	.entire-series-item-wrapper,
	.fav-movie-item-wrapper,
	.fav-series-item-wrapper {
		width: 130px;
		height: 170px;
		transition: transform 0.5s;
	}

	#entire-search-page,
	#fav-page {
		padding: 20px;
	}

	.parent-control-wrapper .setting-menu-item-wrapper {
		height: 180px;
	}
	.setting-menu-item-icon-container .parent-control-icon {
		width: 50px;
		margin: 20px 0px 15px 0px;
	}
	.change-lang-wrapper .setting-menu-item-wrapper {
		height: 180px;
	}
	.setting-menu-item-icon-container .language-icon {
		width: 70px;
		margin: 20px 0px 15px 0px;
	}
	.setting-menu-item-wrapper.subtitle-settings {
		height: 180px;
	}
	.setting-menu-item-icon-container .subtitle-icon {
		width: 50px;
		margin: 20px 0px 15px 0px;
	}

	.setting-menu-item-left-text {
		font-size: 26px;
	}

	.setting-menu-item-center-text {
		font-size: 26px;
	}

	.mt-50 {
		margin-top: 50px;
	}

	.loading-mac-devicekey {
		padding: 15px;
		font-size: 20px;
		color: white;
	}

	.subtitle-setting-modal-option-fontsize-wrapper {
		padding-left: 40px;
	}
	.subtitle-setting-modal-option-wrapper {
		padding-left: 188px;
	}
	.increase-fontsize-btn {
		height: 60px;
		width: 60px;
	}
	.increase-fontsize-item {
		height: 60px;
		width: 80px;
	}
	.subtitle-setting-modal-option-color {
		background: green;
		height: 60px;
		width: 60px;
		border-radius: 4px;
	}
	.subtitle-setting-modal-option-bk {
		background: red;
		height: 60px;
		width: 60px;
		border-radius: 4px;
	}
	.subtitle-color-wrapper {
		width: 50%;
		display: inline-block;
		font-size: 22px;
		padding: 12px 12px 12px 0px;
	}
	.increase-fontsize-btn img {
		margin-top: 20px;
		width: 20px;
	}

	#entire-search-bar,
	#fav-search-bar {
		margin-bottom: 20px;
	}
	#live-entire-search .title,
	#movie-entire-search .title,
	#series-entire-search .title,
	#live-fav-search .title,
	#movie-fav-search .title,
	#series-fav-search .title {
		font-size: 20px;
		color: white;
		margin-top: 10px;
	}
	.live-fav-img {
		width: 60px;
	}
	#live-entire-search,
	#movie-entire-search,
	#series-entire-search,
	#live-fav-search,
	#movie-fav-search,
	#series-fav-search {
		padding: 10px 0;
	}
	.element-4 {
		padding-left: 5px;
		padding-right: 5px;
	}

	#catchup-list-search-icon img {
		width: 40px;
		margin-left: 5px;
	}

	#catchup-list-search-input {
		font-size: 28px;
		padding: 10px 0;
	}
	.load-container {
		width: 100px;
		height: 100px;
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.channel-menu-item {
		margin-top: 3px;
	}

	.category-wrapper {
		padding: 3px 3px;
	}
	.load-container img {
		width: 100px;
		height: 100px;
	}
	.top-menu-titles.series-title,
	.top-menu-titles.movies-title,
	.top-menu-titles.live-tv-title,
	.top-menu-titles.setting-title {
		padding: 8px;
	}

	#live-category-search,
	#vod-series-category-search {
		font-size: 24px;
	}

	.playlist-title-bar {
		padding: 5px 10px;
	}

	.setting-title {
		font-size: 22px;
	}

	#setting-page {
		padding: 20px;
	}

	.modal-text-1 {
		font-size: 20px !important;
	}

	.episode-count {
		font-size: 18px;
		padding: 8px;
	}

	.episode-img-wrapper {
		height: 127px;
		width: 288px;
	}

	.episode-content-wrapper {
		padding: 8px;
		height: 126px;
	}

	.rangeslider--horizontal {
		height: 6px;
	}
	.rangeslider__handle {
		width: 20px;
		height: 20px;
	}

	.rangeslider--horizontal .rangeslider__handle {
		top: -7px;
	}

	#entire-search-input,
	#fav-search-input {
		font-size: 24px;
		padding: 6px 0;
	}

	#playlist-page-left-part {
		padding: 20px;
	}

	.playlist-title-divide {
		font-size: 26px;
	}

	#catchup-list-page {
		padding: 20px 10px 0px 10px;
	}

	#catchup-category-section,
	#catchup-channel-section {
		margin-top: 20px;
	}
	#playlist-qr-code img {
		width: 173px;
		height: 173px;
		padding: 6px;
		margin-left: 0;
	}

	.catchup-page-category-item,
	.catchup-channel-menu-item {
		font-size: 22px;
	}

	.fav-wrapper {
		padding-left: 0;
	}

	.series-wrapper {
		padding-right: 0;
	}

	#channel-page-left-part {
		border-right: 1px solid #ffffff;
		border-top: solid 1px #ffffff;
	}

	#name-sort-container {
		height: 35px;
		width: 35px;
	}

	.sort-direction-icon {
		width: 21px;
		margin-left: 5px;
	}

	#name-sort-container.active {
		border: solid 1px yellow;
	}

	#contactus-modal .modal-dialog {
		min-width: 1200px;
	}

	.contactus-img {
		width: 268px;
		height: 268px;
	}

	.contactus-icon {
		margin-top: 150px;
		margin-left: 130px;
		width: 30px;
	}

	.user-account-modal-logo {
		margin-top: -55px;
		width: 100px;
		right: 290px;
	}

	.subtitle-example-text {
		padding: 50px 70px 0px 70px;
		font-size: 27px;
	}

	.setting-menu-item-text {
		font-size: 28px;
	}

	.clear-cache-modal-logo {
		background: white;
		margin-top: -80px;
		width: 100px;
		right: 265px;
	}

	#fav-search-bar {
		margin-left: 170px;
	}

	.playlist-title-txt {
		padding: 0 0px 0 50px;
	}

	.noti-logo {
		margin-top: -48px;
		width: 80px;
		right: 270px;
	}

	.user-account-modal-logo {
		margin-top: -46px;
		width: 80px;
		right: 300px;
	}

	#vod-series-categories-container {
		height: 590px;
	}

	#channel-page-left-part {
		height: 90vh;
	}

	#channel-page-right-part {
		height: 88vh;
	}

	.account-tile,
	.setting-tile,
	.search-tile,
	.contactus-tile {
		height: 100px;
		border: solid 2px rgba(255, 255, 255, 0.4);
	}

	.wrapCenter-small {
		width: 50px;
		height: 50px;
	}

	.wrapCenter-small img {
		width: 50px;
	}

	.wrapCenter-small p {
		font-size: 25px;
	}

	.home-top-bar {
		font-size: 22px;
	}

	.setting-menu-item-wrapper {
		padding: 30px 20px;
		width: 31%;
	}

	.home-bottom-bar {
		font-size: 22px;
	}

	.top-bar-menu img {
		height: 30px;
		width: 30px;
		top: 10px;
	}

	.top-bar-menu {
		margin-left: 50px;
		margin-top: 10px;
	}

	.current-page-title {
		font-size: 22px;
	}

	#channel-page-menu-container {
		padding: 0px 8px;
	}

	#catchup-list-search {
		margin-bottom: 0px;
		margin-left: 200px;
	}

	.vod-series-summary-page-contents-container {
		padding: 10px 20px 0 20px;
	}

	#vod-summary-page-content {
		padding: 20px 0;
	}

	.loader-container .logo {
		width: 70%;
		height: 60%;
	}

	#loading-page .loader-container {
		width: 400px;
		top: 50%;
	}

	.loader-container .pre-loader {
		width: 15%;
		margin-left: 135px;
		margin-top: 15px;
	}

	.episode-title {
		font-size: 16px;
		width: 286px;
	}

	.exit-tile,
	.reload-tile,
	.settings-tile,
	.user-tile {
		border: solid 2px transparent;
	}

	.resume-action-btn {
		width: 220px !important;
	}
}
