.font-size-0 {
	font-size: 0;
}

.height-100 {
	height: 100vh;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

::-webkit-scrollbar {
	display: none !important;
}

.hide {
	display: none;
}

.video-skin {
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	width: 100%;
	background: #333;
	padding: 10px 0;
	padding-top: 0;
	display: none !important;
}

.video-progress {
	height: 10px;
	overflow: hidden;
	font-size: 0.75rem;
	background-color: #e9ecef;
}

#live-channel-player-page.progress-amount,
#catchup-player-page.progress-amount {
	background: #dd0000;
	height: 100%;
	display: block;
	width: 0%;
}

.time-info {
	padding-top: 10px;
	padding-left: 10px;
}

.video-error {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #ff4832;
	font-size: 25px;
	display: none;
	text-align: center;
}

.video-error img {
	width: 100%;
	height: 100%;
}

.video-error-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.toast {
	position: fixed;
	top: 87%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	max-width: none !important;
	display: none;
	box-shadow: none !important;
	border-radius: 40px;
}

.toast-body {
	text-align: center;
	font-size: 20px;
	padding: 10px 40px;
}

.search-modal-wrapper {
	position: fixed;
	width: 40vw;
	height: 90vh;
	left: 50%;
	top: 0;
	transform: translate(-50%, 5vh);
	background: #333;
	padding: 20px 10px;
}

.search-input-container {
	font-size: 0;
	position: relative;
}

.search-input-wrapper {
	display: inline-block;
	width: 93%;
}

#search-value {
	font-size: 36px;
	outline: none;
	box-shadow: none;
	background: transparent;
	border-style: none;
	width: 86%;
	vertical-align: middle;
	letter-spacing: 1px;
	padding: 4px 0;
	margin-left: 6px;
	color: white;
}

.fa.fa-search.search-icon {
	position: absolute;
	right: 20px;
	font-size: 25px;
	color: #fff;
	top: 50%;
	transform: translateY(-50%);
}

.search-item-wrapper {
	color: #fff;
	font-size: 25px;
	padding: 5px;
	border-bottom: 1px solid #888;
}

.search-item-wrapper.active,
.search-item-wrapper:hover {
	color: #333;
	background: #dee020;
}

.favorite-badge {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 25px;
	color: yellow;
}

.modal-border-1 {
	border: 3px solid #ccc;
}

.modal-text-1 {
	font-size: 35px !important;
	color: #fff;
}

.modal-btn-1 {
	background: #5c2a72 !important;
	padding: 5px 20px !important;
	color: #fff !important;
	font-size: 30px !important;
	border-radius: 5px !important;
	border: transparent solid 2px;
}

.modal-btn-1.active {
	border: solid 2px yellow;
}

#seasons-page-container {
	padding: 30px;
	padding-left: 80px;
	margin-top: 20px;
}

#series-image {
	width: 90%;
	max-height: 90vh;
}

#season-page-back-button,
#episode-page-back-button {
	color: #bbb;
	font-size: 35px;
	padding-top: 30px;
	padding-left: 40px;
}

#season-page-back-button.active,
#episode-page-back-button.active {
	color: #fff;
}

#series-title-container {
	color: #fff;
	margin-bottom: 15px;
}

#series-title {
	font-size: 30px;
}

#season-rating {
	margin-left: 20px;
	font-size: 25px;
}

#season-grid-container {
	height: calc(100vh - 260px);
	padding-top: 15px;
	padding-left: 5px;
	padding-bottom: 10px;
	overflow-y: hidden;
}

.season-grid-item-wrapper,
.episode-grid-item-wrapper {
	width: calc(20% - 25px);
	display: inline-block;
	margin-right: 20px;
	border-radius: 10px;
	overflow: hidden;
	height: 380px;
	background: #48298f;
	box-shadow: 0 0 5px #633fb5a3;
	transition: all 0.6s;
}

.season-grid-item-wrapper.active,
.episode-grid-item-wrapper.active {
	background: yellow;
	transform: scale(1.05);
}

.season-image,
.episode-image {
	width: 100%;
	height: 200px;
	transition: border-color 0.6s;
}

.season-grid-item-wrapper.active img,
.episode-grid-item-wrapper.active img {
	border-bottom: none;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
}

.season-title-wrapper,
.episode-title-wrapper {
	width: 100%;
	text-align: left;
}

.episode-title {
	font-size: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 430px;
	text-align: center;
}

.episode-description {
	font-size: 26px;
	font-weight: lighter;
	white-space: initial;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: left;
	line-height: initial;
}

.season-title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
	text-align: center;
}

.season-grid-item-wrapper.active .season-title,
.episode-grid-item-wrapper.active .episode-title {
	color: #333;
}

#episode-page-container {
	width: 100%;
}

#episode-grid-container {
	width: 66.7%;
	margin: 0px auto;
	height: calc(100vh - 250px);
	padding-top: 15px;
	padding-left: 5px;
	overflow-y: scroll;
}

#season-title-container {
	color: #fff;
	font-size: 35px;
	margin: 0 auto;
	margin-top: 80px;
}

.padding-0 {
	padding: 0 !important;
}

.modal-title-text {
	font-size: 35px;
	color: #ffffff;
	margin: 5px auto;
}

.modal-title-text-3 {
	font-size: 35px;
	color: #333;
}

.subtitle-selection-text {
	font-size: 35px;
	color: white;
}

.modal-operation-menu-type-1 {
	color: #fff;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	padding: 15px 25px;
	border-bottom: 1px solid #bfbf96;
}

.modal-operation-menu-type-1.active {
	background: #7f2a2a;
}

.modal-body .modal-operation-menu-type-1:last-of-type {
	border-bottom: none !important;
}

.modal-operation-menu-type-2 {
	padding: 20px 30px;
}

.modal-operation-menu-type-2.active {
	background-color: #2f154c;
}

.modal-btn-2 {
	font-size: 30px;
	width: 230px;
	background: #fff;
	margin-left: 10px;
	transition: all 0.8s;
	border: 2px solid transparent;
}

.modal-btn-2.active {
	border: 2px solid yellow;
}

.language-operation-modal {
	color: #fff;
	font-size: 35px;
	padding: 10px 25px;
	font-weight: normal;
	border: 2px solid rgba(255, 255, 255, 0.1);
	background: #2f154c;
	margin-bottom: 4px;
}

.language-operation-modal.active {
	color: #fff;
	border: 2px solid yellow;
}

.language-operation-modal i {
	margin-right: 20px;
}

.language-operation-modal.active i {
	color: #4cc94c;
}

.parent-modal-input-item-container {
	font-size: 24px;
	margin-bottom: 10px;
}

.parent-modal-label-wrapper {
	color: #fff;
	display: inline-block;

	vertical-align: middle;
}

.parent-modal-input-wrapper {
	padding-right: 0;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.parent-modal-input-wrapper input {
	padding: 20px 10px;
	font-size: 30px;
	border: 3px solid rgba(255, 255, 255, 0.8);
	background: rgba(255, 255, 255, 0.8);
}

.parent-modal-input-item-container.active input,
.parent-modal-input-wrapper.active input {
	border: 2px solid yellow !important;
}

.parent-modal-input-container {
	margin-top: 10px;
	margin-bottom: 0px;
}

.user-account-item-wrapper {
	font-size: 35px;
	color: white;
	white-space: nowrap;
}

.user-account-label {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-weight: normal;
	white-space: initial;
}

.user-account-value {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-weight: normal;
}

.no-background {
	background: none !important;
}

.active-state {
	background: #c81111;
}

#subtitle-selection-container {
	max-height: 700px;
	overflow-y: scroll;
	position: relative;
}

.login-page-link {
	color: #ffff00 !important;
}

#sort-modal-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #1119;
	display: none;
}

#sort-modal-wrapper {
	position: absolute;
	left: 490px;
	top: 215px;
	font-size: 28px;
	border-radius: 5px;
	background: #2f154c;
	border: solid 2px yellow;
	color: white;
	min-width: 315px;
}

.sort-modal-item {
	padding: 5px 20px;
	transition: all 0.1s;
	border-radius: 5px;
}

.sort-modal-item.active,
.sort-modal-item:hover {
	background: rgba(0, 0, 0, 0.6);
	color: yellow;
}

.video-info-btns-container {
	font-size: 0;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

.video-info-btn {
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	width: 33.33%;
}

.video-info-icon {
	display: inline-block;
	color: #fff;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.video-info-icon i {
	color: #fff;
	display: inline-block;
	line-height: 45px;
}

.video-info-btn.active .video-info-icon,
.video-info-btn:hover .video-info-icon {
	color: #fff;
	background: #666666;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.video-info-icon img {
	height: 50px;
	margin: 0 auto;
	display: inline-block;
}

.video-controls-container {
	font-size: 0;
}

.video-control-icon-container {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
	color: #fff;
}

.video-control-icon-wrapper {
	width: 70px;
	height: 70px;
	border-radius: 40px;
	text-align: center;
	margin: 0 auto;
	line-height: 70px;
	border: 2px solid transparent;
}

.video-control-icon-wrapper.active,
.video-control-icon-wrapper:hover {
	border-color: #ffd90e;
}

.video-control-icon-wrapper.active i,
.video-control-icon-wrapper:hover i {
	color: #ffe30f;
}

.modal-content {
	display: block !important;
	border: solid 2px white;
	color: white;
	background-color: #2f1547;
}

#subtitle-selection-modal .modal-dialog {
	top: 50%;
}

.modal-dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) !important;
	margin-top: 0 !important;
}

.noti-modal-dialog {
	position: fixed;
	right: 0;
	margin-top: 0 !important;
	height: 100vh;
	width: 500px;
}

.noti-modal-content {
	height: 100vh;
	border: none;
	padding: 20px 0;
}

.noti-item {
	padding: 15px 20px;
}

.noti-title {
	font-size: 30px;
	color: white;
}

.noti-date {
	color: #abdcab;
	position: absolute;
	right: 20px;
	font-size: 30px;
}

.clear-all-noti {
	position: absolute;
	color: white;
	bottom: 0px;
	font-size: 24px;
	padding: 5px;
	width: 100%;
	text-align: center;
}

.clear-all-noti.active {
	background: rgba(0, 0, 0, 0.3);
}

.modal-dialog.modal-lg {
	min-width: 750px;
}

.modal-dialog.modal-xl {
	min-width: 900px;
}

label {
	font-weight: normal;
}

.video-loader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #ff4832;
	font-size: 25px;
	display: none;
	text-align: center;
}

.video-loader img {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#epg-loading-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #111111e3;
	text-align: center;
	color: #fff;
	font-size: 40px;
	display: none;
}

#epg-loading-modal-content {
	width: 80%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

#epg-loading-modal-content-text {
	font-weight: normal;
}

#loading-content-progress-bar {
	height: 8px;
	background: #e6e3e3;
	position: relative;
	margin-top: 15px;
}

#loading-content-progress-amount {
	position: absolute;
	width: 400px;
	background: #9e9494;
	height: 100%;
	animation: loading-content infinite linear 2s;
}

#parent-confirm-password-error {
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.video-resolution {
	color: #fff;
	right: 20px;
	bottom: 20px;
	font-size: 17px;
	font-weight: normal;
	margin-top: 20px;
}

.home-live-tile,
.movies-tile,
.playlist-tile,
.catchup-tile,
.series-tile,
.fav-tile {
	border: 4px solid rgba(255, 255, 255, 0.4);
	background-size: 100% 100%;
	height: 340px;
	padding: 30px 0;
	border-radius: 10px;
}

.movies-tile p {
	font-size: 44px;
}

.series-tile p {
	font-size: 44px;
}

.accountTile {
	background: #5c2a72;
	height: 220px;
	border: 4px solid transparent;
	border-radius: 14px;
	background-size: 100% 100%;
}

.changeServerTile {
	background: #5c2a72;
	height: 220px;
	border: 4px solid transparent;
	border-radius: 14px;
	background-size: 100% 100%;
}

.wrapLeft {
	padding: 100px 0px;
	font-size: 32px;
	text-align: center;
	font-weight: 700;
}

.settingTile {
	border: 4px solid transparent;
	margin-bottom: 20px;
	position: relative;
	background: transparent;
	border: solid 4px #2f154c;
	padding: 32px 30px 10px 30px;
}

.reloadPortalTile {
	border: 4px solid transparent;
	margin-bottom: 20px;
	position: relative;
	background: transparent;
	border: solid 4px #2f154c;
	padding: 32px 30px 10px 30px;
}

.exitTile {
	border: 4px solid transparent;
	margin-bottom: 20px;
	position: relative;
	background: transparent;
	border: solid 4px #2f154c;
	padding: 32px 30px 10px 30px;
}

.wrapTile {
	height: 88px;
}

.wrapTile img {
	float: left;
	width: 55px;
}

.wrapTile p {
	font-size: 33px;
	font-weight: 700;
	float: left;
	padding-left: 30px;
	padding-top: 10px;
}

.wrapCenter {
	padding: 6% 0%;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
}

.wrapCenter img {
	width: 150px;
}

.wrapCenter p {
	margin: 15px 0px 0px 0px;
	color: #05d1ff;
	font-size: 44px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
}

.wrapCenter-small {
	width: 70px;
	height: 70px;
}

.wrapCenter-small img {
	width: 70px;
}

.wrapCenter-small p {
	color: white;
	font-size: 40px;
	text-align: center;
	display: -webkit-flex;
	align-items: center;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	margin-left: 10px;
}

.wrapLeft p {
	margin: 15px 0px 0px 0px;
	color: white;
	text-align: center;
	white-space: initial;
}

.wrapLeft img {
	height: 150px;
}

.exit-tile,
.reload-tile,
.settings-tile,
.user-tile {
	border-radius: 50%;
	border: solid 4px transparent;
}

.accountTile.active {
	border: solid 4px white;
	border-radius: 14px;
}

.changeServerTile.active {
	border: solid 4px white;
	border-radius: 14px;
}

.reloadPortalTile.active {
	border: solid 4px white;
}

.settingTile.active {
	border: solid 4px white;
}

.exitTile.active {
	border: solid 4px white;
}

.home-menu.active {
	border: solid 4px yellow;
}

#catchup-tile p {
	display: inline-block;
	color: white;
	font-size: 34px;
	vertical-align: sub;
	margin-left: 10px;
}

#catchup-tile img {
	width: 52px;
	display: inline-block;
}

.favorites-icon {
	width: 52px;
}
.favorites-text {
	display: inline-block;
	color: white;
	font-size: 34px;
	vertical-align: sub;
	margin-left: 10px;
}

.favorites-icon img {
	display: inline-block;
}

.loading-logo {
	width: 580px;
}

.logo-img {
	width: 220px;
}

.header-txt {
	font-size: 36px;
	color: white;
	text-align: right;
	display: inline-block;
	position: absolute;
	right: 0;
	margin-top: 70px;
	margin-right: 80px;
}

#clock {
	color: white;
	display: inline-block;
}
.h-min {
	font-size: 90px;
	line-height: initial;
}
.month-date {
	font-size: 30px;
}

.item img {
	width: 60px;
	height: 60px;
	margin: 4px;
}
#dashboard {
	/* width: 90%; */
	margin: auto;
}
.home-content {
	width: 80%;
	margin: auto;
	height: 48vh;
}

.loading-gif {
	width: 30%;
}

#activated_mark {
	background: green;
	width: 15%;
	color: white;
	font-size: 36px;
	float: right;
	height: 48px;
	padding: 0 0px 0 12px;
}

#nonactivated_mark {
	background: #e1a101;
	width: 21%;
	color: red;
	font-size: 36px;
	float: right;
	height: 48px;
	padding: 0 0px 0 12px;
}

.search-back-button {
	width: 50%;
	font-weight: 700;
}

.livetv-menu {
	color: white;
}

.livetv-menu.active {
	color: yellow;
}

.movies-menu {
	color: white;
}

.movies-menu.active {
	color: yellow;
}

.series-menu {
	color: white;
}

.series-menu.active {
	color: yellow;
}

.full-search {
	color: white;
}

.full-search.active {
	color: yellow;
}

.menu-logo {
	color: white;
	text-align: right;
}

.menu-logo img {
	width: 150px;
	height: 60px;
}

#top-menu {
	color: white;
	font-size: 30px;
	padding: 40px 20px 10px 20px;
}

#live-portal {
	background-color: #0d0a34;
}

.channel-menu-item {
	background-color: transparent;
	color: white;
}

.channel-menu-item.selected {
	color: yellow;
}

.row-item {
	white-space: nowrap;
	margin-left: 0 !important;
	margin-right: 0 !important;
	flex-wrap: wrap;
	display: -webkit-flex;
}

.element-1 {
	width: 8.33%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.element-2 {
	width: 16.66%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.element-2-1 {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.element-3 {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

.element-4 {
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.element-5 {
	width: 41.66%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.element-6 {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.element-7 {
	width: 58.33%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.element-8 {
	width: 66.66%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.element-9 {
	width: 75%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.element-10 {
	width: 83.33%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.element-11 {
	width: 91.66%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.element-12 {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.top-menu-search-bar {
	color: white;
	font-size: 30px;
	display: inline-block;
	border: none;
}

#entire-search-page .top-menu-search-bar,
#fav-page .top-menu-search-bar {
	width: 100%;
}

.top-bar {
	width: 100%;
	padding: 12px 10px;
	height: 11vh;
}

.top-bar-logo {
	display: inline-block;
	width: 30%;
	text-align: right;
}

.top-bar-logo img {
	height: 100px;
	width: 100px;
	position: absolute;
	right: 50px;
	top: 10px;
}

.top-bar-menu {
	display: inline-block;
	width: 30%;
	text-align: right;
	margin-left: 130px;
}

.top-bar-menu img {
	height: 60px;
	width: 60px;
	top: 10px;
}

.movie-series-icon img {
	width: 170px;
}

.movie-series-icon {
	text-align: center;
	margin-top: 37px;
}

#vod-series-search-back-button-wrapper {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 10px;
}

#back-button-wrapper {
	width: 50%;
	display: inline-block;
}

#search-button-wrapper {
	width: 50%;
	display: inline-block;
	text-align: right;
}

#search-btn-text {
	padding: 0;
	font-size: 28px;
	color: white;
	margin-left: 10px;
	align-items: center;
	justify-content: end;
}

#channel-back-button-text {
	padding: 0;
	font-size: 28px;
	color: white;
	margin-left: 10px;
	align-items: center;
	justify-content: end;
}

.back-button {
	border: solid 2px transparent;
	display: inline-block;
	border-radius: 8px;
	padding: 6px 16px;
}

.back-button.active {
	border: solid 2px yellow;
	display: inline-block;
	border-radius: 8px;
	padding: 6px 16px;
}

.search-button {
	border: solid 2px transparent;
	display: inline-block;
	border-radius: 8px;
	padding: 6px 16px;
}

.search-button.active {
	border: solid 2px yellow;
	display: inline-block;
	border-radius: 8px;
	padding: 6px 16px;
}

#add-playlist {
	padding: 70px;
}

#add-playlist-title {
	font-size: 40px;
	color: white;
	text-align: center;
	margin-top: 47px;
}

#add-playlist-tab-wrapper {
	color: white;
	width: 40%;
	margin: auto;
	font-size: 26px;
	margin-top: 50px;
}

.add-playlist-tab {
	display: inline-block;
}

.extream-codes-api {
	margin-left: 260px;
}

.add-playlist-tab.active {
	border-bottom: solid 2px yellow;
}

.add-playlist-mac-address {
	display: inline-block;
	font-size: 20px;
}

.add-playlist-contents-wrapper {
	background: #968896;
	padding: 20px;
	border-radius: 10px;
	margin-top: 40px;
	color: white;
}

.add-playlist-input-wrapper input {
	padding: 20px 10px;
	font-size: 30px;
	border: 3px solid #a99e9e;
	background: #535055;
}

.add-playlist-input-wrapper label {
	padding: 21px 10px 0 10px;
	font-size: 20px;
}

.add-playlist-mac-address-title {
	text-align: left;
	font-size: 20px;
}

.add-playlist-mac-address-address {
	text-align: right;
	font-size: 20px;
}

.live-category-name {
	width: 79%;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
}

.live-category-length {
	display: inline-block;
	text-align: right;
	overflow: hidden;
	width: 21%;
}

#live-entire-search .title,
#movie-entire-search .title,
#series-entire-search .title,
#live-fav-search .title,
#movie-fav-search .title,
#series-fav-search .title {
	font-size: 26px;
	color: white;
	margin-top: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
}
#live-entire-search,
#movie-entire-search,
#series-entire-search,
#live-fav-search,
#movie-fav-search,
#series-fav-search {
	padding: 20px 0;
	border-top: solid 2px #efe6e6;
}

#entire-search-page,
#fav-page {
	padding: 50px 30px 20px 30px;
}

.entire-movies-wrapper,
.fav-movies-wrapper {
	width: 120px;
	height: 120px;
	display: inline-block;
	white-space: nowrap;
}

.entire-movies-wrapper img,
.fav-movies-wrapper img {
	width: 100px;
	height: 100px;
	display: inline-block;
	white-space: nowrap;
}

.movie-slider-wrapper,
.fav-movie-slider-wrapper,
.cast-slider-wrapper {
	padding: 0px 25px 0px 0;
	overflow-x: hidden;
	overflow-y: visible;
	white-space: nowrap;
}

.position-relative {
	position: relative !important;
}

.entire-movie-item-container,
.entire-series-item-container,
.entire-live-item-container {
	padding: 5px;
	display: inline-block;
	transition: transform 0.5s;
	white-space: nowrap;
}

.cast-item-container {
	padding: 10px;
	display: inline-block;
	transition: transform 0.5s;
	white-space: nowrap;
	height: 340px;
}

.fav-live-item-container,
.fav-movie-item-container,
.fav-series-item-container {
	padding: 5px;
	transition: transform 0.5s;
	display: inline-block;
	white-space: nowrap;
}

#entire-movies-wrapper,
#fav-movies-wrapper {
	white-space: nowrap;
}

#entire-series-wrapper,
#fav-series-wrapper {
	white-space: nowrap;
}

.entire-movie-item-wrapper,
.entire-series-item-wrapper,
.fav-movie-item-wrapper,
.fav-series-item-wrapper {
	width: 170px;
	height: 220px;
	transition: transform 0.5s;
}

.entire-movie-item-thumbernail,
.entire-series-item-thumbernail,
.fav-movie-item-thumbernail,
.fav-series-item-thumbernail {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 4px 4px 4px 4px;
}

#entire-search-page .movie-item-wrapper.active .movie-thumbernail-title {
	background-color: yellow;
	color: #222;
}
.movie-thumbernail-title {
	font-size: 20px;
	color: white;
	left: 0;
	text-align: center;
	width: 100%;
	padding: 6px 6px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: transparent;
}

.movie-item-thumbernail {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	border-radius: 4px;
}

.cast-item-thumbernail {
	width: 240px;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	border-radius: 4px;
}
.entire-live-item-container.active,
.fav-live-item-container.active {
	box-sizing: border-box;
	padding: 0 !important;
	border-radius: 6%;
	border: 2px solid yellow;
}

.cast-item-container.active {
	box-sizing: border-box;
	padding: 0 !important;
	border-radius: 10px;
	border: 2px solid yellow;
}

.movie-item-wrapper img {
	width: 166px;
	height: 174px;
}

.cast-item-wrapper img {
	width: 240px;
	height: 295px;
}

.movie-item-wrapper.active {
	border: solid 2px yellow;
}

.cast-item-wrapper.active {
	border: solid 2px yellow;
}

#entire-live-wrapper,
#fav-live-wrapper {
	white-space: nowrap;
}

.entire-movie-item-container.active,
.fav-movie-item-container.active {
	box-sizing: border-box;
	padding: 0 !important;
	border-radius: 6%;
	border: 2px solid yellow;
}

.entire-series-item-container.active,
.fav-series-item-container.active {
	box-sizing: border-box;
	padding: 0 !important;
	border-radius: 6%;
	border: 2px solid yellow;
}

#search-by-video-title {
	display: inline;
}

.page-title-wrapper {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.current-page-title-wrapper {
	display: inline-block;
}

.current-page-title {
	color: white;
	font-size: 36px;
}

.live-item-wrapper-image {
	width: 210px;
}

.live-movie-item {
	background: transparent;
	height: 220px;
	text-align: center;
}

#qr-code-container {
	padding: 30px;
}

#qr-code-container img {
	width: 300px;
	height: 300px;
}

#login-qr-code {
	text-align: center;
	margin-left: 65px;
	margin-right: 70px;
	border-radius: 4px;
}

#login-qr-code img {
	width: 400px;
	height: 400px;
	border-radius: 10px;
	padding: 10px;
	background: white;
}

#vod-series-video-progress.active {
	border: 1px solid yellow;
}

#vod-series-video-progressbar-container.active .rangeslider {
	background-color: #2f1547;
}

.favorite-badge-wrapper.active {
	color: yellow;
}

#qr-code-text {
	color: yellow;
	font-size: 24px;
	margin-top: 10px;
	text-align: center;
}

.clear-history-series-modal-button-container button {
	min-width: 180px;
	margin-bottom: 20px;
}

.clear-history-series-modal-button-container {
	text-align: center;
}

#catchup-current-time {
	font-size: 22px;
	width: 50%;
	display: inline-block;
}

#catchup-duration {
	font-size: 22px;
	width: 50%;
	display: inline-block;
}

.form-control:focus {
	background: #8c9095;
	color: #495057;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.playlist-expired-text {
	white-space: initial;
	color: white;
	font-size: 32px;
	text-align: left;
	padding: 50px 20px;
}

.current-playlist-name-wrapper,
.current-playlist-expiry-wrapper {
	margin: 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.video-control-icon-img-container {
	color: #fff;
	width: 65px;
	height: 65px;
	padding: 15px 0px;
	border-radius: 50%;
}

.video-control-icon-img-container img {
	width: 50px;
}

.favorite-badge i img {
	width: 32px;
	height: 32px;
	background: none;
}

#vod-series-search-icon img,
#fav-page-search-icon img,
#entire-search-page-search-icon img {
	width: 50px;
}

#search_icon {
	width: 28px;
}

#sort-button-icon img {
	width: 20px;
	filter: brightness(0) invert(1);
}

.setting-menu-item-icon-container img {
	width: 70px;
	height: 70px;
	filter: brightness(0) invert(1);
}

#vod-watch-trailer-button i img {
	width: 30px;
}

#vod-watch-movie-button img {
	width: 30px;
}

#vod-add-favorite-button div i img {
	width: 30px;
}

.program-date-wrapper-date {
	font-size: 24px;
}

.catchup-click-img {
	width: 30px;
	height: 30px;
	margin-top: 8px;
}
.catchup-nav-img {
	width: 30px;
}

#select-language-body {
	padding: 20px 30px;
}

#stop-playback-txt {
	color: #fff;
	font-size: 40px !important;
	margin: 10px 0;
	font-weight: 700;
}

#stop-playback-desc {
	color: #fff;
	font-size: 36px !important;
	margin: 10px 0;
}

#stop-playback-cancel {
	width: 200px;
	margin-left: 10px;
	margin-right: 130px;
}

#stop-playback-btn {
	width: 200px;
}

#stop-playback-container {
	margin: 20px 0;
	padding: 0 20px;
	margin-top: 60px;
	margin-bottom: 5px;
	white-space: nowrap;
}

#stop-playback-modal-container {
	border-radius: 10px;
	padding-top: 20px;
}

.exit-modal-title,
#reload-modal-title {
	color: #fff;
	font-size: 40px !important;
	margin: 0;
	font-weight: 700;
}

#exit-modal-desc,
#reload-modal-desc {
	color: #fff;
	font-size: 36px !important;
	margin: 10px 0;
}

.exit-modal-btn-container,
#reload-modal-btn-container {
	margin: 20px 0;
	padding: 0 20px;
	margin-top: 60px;
	margin-bottom: 5px;
	white-space: nowrap;
	text-align: center;
}

#exit-modal-cancel,
#reload-modal-cancel {
	width: 200px;
	margin-left: 10px;
	margin-right: 130px;
}

.exit-modal-btn,
#reload-modal-btn {
	width: 210px;
}

#episode-img {
	width: 100%;
	vertical-align: inherit;
	background-color: rgba(36, 31, 255, 0.3);
}

.episode-img-wrapper {
	height: 204px;
	background-size: cover;
}

.user-account-modal-header {
	border-bottom: solid 1px white;
	margin: 35px 0 0 0;
}

#series-favorite-icon {
	margin-bottom: 8px;
	width: 30px;
}

#youtube-icon {
	margin-bottom: 8px;
	width: 30px;
}

#player-icon {
	margin-bottom: 8px;
	width: 30px;
}

#vod-favorite-icon {
	margin-bottom: 8px;
	width: 30px;
}

#vod-youtube-icon {
	margin-bottom: 8px;
	width: 30px;
}

#vod-player-icon {
	margin-bottom: 8px;
	width: 30px;
}

#series-summary-informations-container {
	height: 100vh;
	overflow: hidden;
}

#live-media-play {
	margin-left: 5px;
}

.playlist-title-bar {
	text-align: left;
	padding: 20px 0;
}

.e-movie-item {
	margin-top: -42px;
	position: relative;
}

.playlist-page-logo {
	width: 120px;
	height: 120px;
	margin-top: -40px;
}

.playlist-title-divide {
	font-size: 40px;
	display: inline-block;
}

.playlist-title-txt {
	padding: 0 25px;
}

.subtitle-modal-btn-container {
	margin: 20px 0;
	padding: 10px 20px;
	white-space: nowrap;
	text-align: center;
}
.subtitle-modal-btn-container .btn-wrapper {
	vertical-align: middle;
	display: inline-block;
	text-align: right;
}

.playlist-page-activation-txt {
	margin-top: 50px;
}

#subtitleContainer {
	font-size: 40px;
	color: yellow;
	background: red;
	position: absolute;
}
.subtitle-selection-text {
	font-size: 35px;
	color: white;
}

#subtitle-selection-container {
	max-height: 700px;
	overflow-y: scroll;
	position: relative;
}

#subtitle-modal-body {
	padding: 10px 10px;
}

.subtitle-selection-content {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-clip: padding-box;
	border: 1px solid #2f154c;
	border-radius: 0.3rem;
	outline: 0;
	color: white;
	border: 2px solid white;
}

.modal-btn-2.subtitle-item {
	border: #6c5593 solid 2px;
}

.subtitle-selection-text {
	font-size: 35px;
	color: white;
}

#subtitle-selection-container {
	max-height: 700px;
	overflow-y: scroll;
	position: relative;
}

.subtitle-container {
	color: #fff;
	font-size: 40px;
	bottom: 0;
	padding: 30px;
	width: 60%;
	left: 20%;
	margin-bottom: 10px;
	background: transparent;
	border-radius: 2px;
}

.subtitle-setting-modal-option-wrapper {
	display: inline-block;
	vertical-align: top;
	padding-left: 245px;
}

.subtitle-setting-modal-option-color {
	background: green;
	height: 70px;
	width: 70px;
	border-radius: 4px;
}

.subtitle-setting-modal-option-bk {
	background: red;
	height: 70px;
	width: 70px;
	border-radius: 4px;
}

.subtitle-setting-modal-option-fontsize-wrapper {
	display: inline-block;
	vertical-align: top;
	padding-left: 65px;
}

.subtitle-color-wrapper {
	width: 50%;
	display: inline-block;
	font-size: 28px;
	padding: 12px 12px 12px 0px;
}

.subtitle-fontsize-wrapper {
	height: 70px;
}

.increase-fontsize-btn {
	display: inline-block;
	height: 70px;
	width: 70px;
	background: #6d6d9d;
	border-radius: 4px;
	text-align: center;
	border: 2px solid #6d6d9d;
}

.increase-fontsize-btn.active {
	border: 2px solid yellow;
}

.increase-fontsize-item {
	display: inline-block;
	height: 70px;
	width: 100px;
	background: #6d6d9d;
	border-radius: 4px;
	text-align: center;
	vertical-align: bottom;
	padding: 10px;
}

.increase-fontsize-btn span {
	font-size: 30px;
}

.increase-fontsize-btn img {
	margin-top: 18px;
}

.subtitle-font-size {
	font-size: 30px;
}

.subtitle-example-text {
	padding: 70px 70px 0px 70px;
	font-size: 40px;
	color: white;
	text-align: center;
}

.subtitle-color-item {
	width: 19%;
	display: inline-block;
	padding: 0px 26px;
	margin-top: 10px;
}

.subtitle-background-item {
	width: 19%;
	display: inline-block;
	padding: 0px 26px;
	margin-top: 10px;
}

.subtitle-color-item .color-0 {
	background: #ffffff;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #ffffff solid 2px;
}

.subtitle-color-item .color-1 {
	background: #000000;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #000000 solid 2px;
}

.subtitle-color-item .color-2 {
	background: #808080;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #808080 solid 2px;
}

.subtitle-color-item .color-3 {
	background: #0000ff;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #0000ff solid 2px;
}

.subtitle-color-item .color-4 {
	background: #0096ff;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #0096ff solid 2px;
}

.subtitle-color-item .color-5 {
	background: #49f436;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #49f436 solid 2px;
}

.subtitle-color-item .color-6 {
	background: #008000;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #008000 solid 2px;
}

.subtitle-color-item .color-7 {
	background: #ffeb3b;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #ffeb3b solid 2px;
}

.subtitle-color-item .color-12 {
	background: #8b8000;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #8b8000 solid 2px;
}

.subtitle-color-item .color-9 {
	background: #8b0000;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #8b0000 solid 2px;
}

.subtitle-color-item .color-10 {
	background: #ff0000;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #ff0000 solid 2px;
}

.subtitle-color-item .color-11 {
	background: #a52a2a;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #a52a2a solid 2px;
}

.subtitle-color-item .color-8 {
	background: #5c4033;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #5c4033 solid 2px;
}

.subtitle-color-item .color-13 {
	background: #c4a484;
	height: 90px;
	width: 90px;
	border-radius: 4px;
	border: #c4a484 solid 2px;
}

.subtitle-colors-container {
	padding: 20px 0 0 0;
}

.subtitle-demo-bk {
	background: url('../images/subtitle-demo.jpg');
	height: 140px;
	background-size: cover;
}

.subtitle-color-item .color-item.active {
	border: yellow solid 2px;
}

.subtitle-background-item .background-item {
	height: 90px;
	width: 90px;
	border-radius: 4px;
}

.subtitle-background-item .background-0 {
	background: transparent;
	border: white solid 2px;
}

.subtitle-background-item .background-1 {
	background: #c4a484;
	border: #c4a484 solid 2px;
}

.subtitle-background-item .background-2 {
	background: #5c4033;
	border: #5c4033 solid 2px;
}

.subtitle-background-item .background-3 {
	background: #a52a2a;
	border: #a52a2a solid 2px;
}

.subtitle-background-item .background-4 {
	background: #ff0000;
	border: #ff0000 solid 2px;
}

.subtitle-background-item .background-5 {
	background: #000000;
	border: #000000 solid 2px;
}

.subtitle-background-item .background-6 {
	background: #8b0000;
	border: #8b0000 solid 2px;
}

.subtitle-background-item .background-7 {
	background: #8b8000;
	border: #8b8000 solid 2px;
}

.subtitle-background-item .background-8 {
	background: #ffeb3b;
	border: #ffeb3b solid 2px;
}

.subtitle-background-item .background-9 {
	background: #008000;
	border: #008000 solid 2px;
}

.subtitle-background-item .background-10 {
	background: #49f436;
	border: #49f436 solid 2px;
}

.subtitle-background-item .background-11 {
	background: #0096ff;
	border: #0096ff solid 2px;
}

.subtitle-background-item .background-12 {
	background: #0000ff;
	border: #0000ff solid 2px;
}

.subtitle-background-item .background-13 {
	background: #808080;
	border: #808080 solid 2px;
}

.subtitle-background-item .background-14 {
	background: #ffffff;
	border: #ffffff solid 2px;
}

.subtitle-background-item .background-item.active {
	border: yellow solid 2px;
}

.subtitle-color-check {
	display: block;
	margin-top: 25px;
	margin-left: 25px;
}

.subtitle-background-check {
	display: block;
	margin-top: 25px;
	margin-left: 25px;
}

.hide {
	display: none;
}

.subtitle-example-text span {
	padding: 5px 20px;
}

.home-top-bar {
	border-radius: 50px;
	padding: 10px;
	width: fit-content;
	margin-top: 60px;
	position: absolute;
	right: 100px;
	font-size: 30px;
}

.home-bottom-bar {
	border-radius: 50px;
	padding: 10px;
	width: fit-content;
	position: absolute;
	right: 100px;
	bottom: 40px;
	color: white;
	font-size: 30px;
}

.home-top-bar .item {
	display: inline-block;
	border-radius: 100%;
	border: solid 2px transparent;
}

.home-top-bar .item.active {
	border: solid 2px yellow;
	background: rgba(0, 0, 0, 0.3);
}

.home-bottom-bar .item {
	display: inline-block;
	border-radius: 100%;
	border: solid 2px transparent;
}

.home-bottom-bar .item.active {
	border: solid 2px yellow;
	background: rgba(0, 0, 0, 0.3);
}

.playlists-icon {
	display: inline-block;
	width: 52px;
}

.favorites-icon {
	display: inline-block;
}

.favorites-text {
	display: inline-block;
}

.playlists-text {
	display: inline-block;
	color: white;
	font-size: 34px;
	vertical-align: sub;
	margin-left: 10px;
}

.movies-wrapper {
	padding-left: 0;
}

.series-wrapper {
	padding-right: 0;
}

.live-catchup-wrapper {
	padding-left: 0;
}

.fav-playlist-wrapper {
	margin-top: 20px;
}

.fav-wrapper {
	padding-left: 0;
}

.rating-badge {
	position: absolute;
	left: 16px;
	top: 16px;
	font-size: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 0px 10px;
	border-radius: 6px;
	width: 43px;
	text-align: center;
}

.mt-50 {
	margin-top: 50px;
}

.setting-mac-address-text,
.contactus-devicekey {
	color: white;
	margin-left: 10px;
}

.live-fav-img {
	width: 80px;
}

.load-container {
	width: 156px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#player-loader .load-container {
	position: fixed;
	left: 82%;
	top: 35%;
}

#player-loader img {
	width: 100px;
	height: 100px;
}

#search-value::placeholder,
#vod-series-search-input::placeholder {
	color: white;
}

.qr-code-wrapper {
	padding: 180px 0;
}

#clear-cache-modal-btn-container {
	text-align: center;
}

.clear-cache-modal-button {
	width: 200px;
}

#clear-cache-modal-desc {
	margin: 20px 0;
}

#playlist-qr-code {
	margin-left: 110px;
	margin-top: 60px;
	margin-right: 84px;
	border-radius: 4px;
	background: white;
	padding: 10px;
}

.subtitle-modal-header {
	padding: 1rem;
	text-align: center;
}

.flex-container {
	display: -webkit-flex;
}

#text-tracks-modal .modal-dialog,
#audio-tracks-modal .modal-dialog,
#catchup-audio-tracks-modal .modal-dialog,
#channel-audio-tracks-modal .modal-dialog {
	top: 50%;
}

.text-tracks-modal-btn-container,
.audio-tracks-modal-btn-container {
	margin: 20px 0;
	padding: 10px 20px;
	white-space: nowrap;
	text-align: center;
}

#text-tracks-modal-body,
#audio-tracks-modal-body,
#catchup-audio-tracks-modal-body,
#channel-audio-tracks-modal-body {
	padding: 10px 10px;
}

.text-tracks-selection-content,
.audio-tracks-selection-content {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #33253c;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
	border: 2px solid white;
}

.text-track-btn,
.audio-track-btn {
	background: #6c5593;
	color: white;
}

#text-tracks-selection-container,
#audio-tracks-selection-container,
#catchup-audio-tracks-selection-container {
	max-height: 700px;
	overflow-y: scroll;
	position: relative;
}

.modal-btn-2.text-tracks-item,
.modal-btn-2.audio-tracks-item {
	border: #6c5593 solid 2px;
}

.modal-btn-2.text-tracks-item,
.modal-btn-2.audio-tracks-item {
	border: #6c5593 solid 2px;
}

.modal-operation-menu-type-2,
.text-tracks-item,
.audio-tracks-item {
	padding: 20px 30px;
}

.modal-operation-menu-type-2.active,
.text-tracks-item.active,
.audio-tracks-item.active {
	background-color: #504358;
}

.text-track-container {
	color: #fff;
	font-size: 40px;
	bottom: 0;
	padding: 30px;
	width: 60%;
	left: 20%;
	margin-bottom: 10px;
	background: transparent;
}

#text-track-container {
	font-size: 40px;
	color: yellow;
	background: red;
	position: absolute;
}

.contactus-icon {
	position: absolute;
	margin-top: 130px;
	margin-left: 120px;
	width: 50px;
}

.useragent-modal-title {
	margin: 10px 0 0 0;
}

.user-agent-modal-header {
	padding: 10px 0;
	display: block;
}

.clear-cache-modal-logo {
	background: white;
	border-radius: 50%;
	margin-top: -80px;
	position: fixed;
	z-index: 1;
	width: 140px;
	right: 330px;
}

.aligin-center {
	align-items: center;
}
