:root {
    --color-1: #111;
    --color-2: #2b1402;
    --color-3: #1d528f;
    --text-color-1: #ffffff;
}

.bg-color-1 {
    background: var(--color-1)
}

.bg-color-2 {
    background: var(--color-2)
}

.bg-color-3 {
    background: var(--color-3)
}

.text-color-1 {
    color: var(--text-color-1);
}