#vod-summary-content-container {
	font-size: 0;
	color: white;
}

#series-summary-content-container {
	font-size: 0;
	color: white;
	border-bottom: 2px solid gray;
}

.vod-series-background-img {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.vod-series-background-img-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(16, 16, 16, 0.65);
}

.vod-series-summary-page-contents-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 30px 50px 0 30px;
}

#vod-summary-page-left-part {
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.vod-summary-page-left {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

#vod-summary-page-right-part {
	width: 66.66%;
	display: inline-block;
	vertical-align: top;
}

#vod-summary-page-content {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.cast-title {
	font-size: 30px;
	margin-left: 10px;
	margin-top: 5px;
}

#series-summary-page-content {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	margin-top: 65px;
	margin-bottom: 10px;
}

#vod-summary-image-wrapper {
	position: relative;
}

#series-summary-left-part {
	display: inline-block;
	width: 35%;
	vertical-align: top;
}

#series-summary-image-wrapper {
	text-align: center;
}

#series-summary-image-wrapper img {
	height: 480px;
	max-width: 400px;
	border-radius: 6px;
}

#series-summary-informations-container {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

#series-summary-episode-items-container {
	vertical-align: top;
	overflow-y: scroll;
	position: relative;
	white-space: nowrap;
}

#series-summary-episode-items-container-wrapper {
	width: 70%;
	display: inline-block;
	padding: 50px;
}

#season-items-container {
	overflow-x: scroll;
	vertical-align: top;
	height: 50vh;
	position: relative;
}

.season-item-container {
	font-size: 28px;
	color: #fff;
	padding: 10px 0px 10px 60px;
	width: 100%;
	vertical-align: middle;
	white-space: nowrap;
	margin-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
}

.season-item-container.active {
	background: #163f5a;
}

.season-item-container.selected {
	color: yellow;
}

.episode-item-wrapper {
	font-size: 24px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	width: 23.5%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px transparent;
	display: inline-block;
	height: 260px;
}

.episode-item-wrapper.active {
	border: solid 2px yellow;
	background: rgba(0, 0, 0, 0.3);
}

#vod-summary-image-wrapper img {
	height: 500px;
	width: 320px;
	border-radius: 6px;
}

.vod-summary-information-container {
	height: 320px;
}

#series-summary-page .vod-summary-information-container {
	padding-left: 0;
	color: white;
}

.vod-summary-item {
	margin-bottom: 0;
	font-size: 27px;
	white-space: nowrap;
}

.vod-summary-item-label {
	margin-right: 15px;
	width: 210px;
	display: inline-block;
	vertical-align: top;
}

.vod-summary-item-text {
	font-size: 27px;
}

#vod-summary-name,
#series-summary-name {
	font-size: 40px;
	color: #fff;
	width: 80%;
	text-align: center;
}

#vod-rating-container {
	text-align: center;
	margin-top: 50px;
}

.max-line-2 {
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.max-line-4 {
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 4;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

#vod-summary-description,
#series-summary-description {
	margin-top: 20px;
	font-size: 27px;
	line-height: 36px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	font-weight: lighter;
	white-space: initial;
	display: -webkit-box;
	line-clamp: 4;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

#series-summary-action-container {
	margin-top: 50px;
}

#vod-summary-action-container {
	padding: 15px 0;
}

.vod-series-action-btn {
	font-size: 25px;
	padding: 15px 50px;
	margin-right: 10px;
	color: #fff;
	border: solid 2px transparent;
	transition: all 0.2s;
	border-radius: 10px;
}

.vod-series-action-btn.active {
	border: solid 2px yellow;
	color: #fff;
}

.vod-genre-text-content {
	font-size: 27px;
}

.vod-genre-text-year {
	font-size: 27px;
}

.cast-content {
	text-overflow: ellipsis;
	white-space: initial;
	display: -webkit-box;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: left;
}

.series-action-btn,
.vod-action-btn {
	font-size: 30px;
	background: #241fff;
}

.episode-count {
	color: white;
	font-size: 30px;
	background: rgba(77, 65, 127, 0.2);
	padding: 16px;
	border-radius: 10px;
	text-align: center;
}

.episode-count-wrapper {
	width: 60%;
	margin: auto;
	margin-bottom: 10px;
}

#controler-wrapper {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px 0 0 0;
}
