#vod-series-page {
	background: rgba(12, 12, 12, 0.64);
	border-top: solid 3px #858698;
}

#vod-series-left-part {
	display: inline-block;
	height: 100%;
	width: 26%;
	vertical-align: top;
	border-right: solid 3px #858698;
	padding: 0 4px;
}

#vod-series-icon-container {
	padding: 10px 50px;
}

#vod-series-icon-container img {
	height: 200px;
}

#vod-series-categories-container {
	height: 680px;
	overflow-y: scroll;
	position: relative;
}

#vod-series-right-part-wrapper {
	width: 74%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

#vod-series-search-value {
	outline: none;
	box-shadow: none;
	background: transparent;
	border-style: none;
	width: 86%;
	vertical-align: middle;
	color: #ddd;
	letter-spacing: 1px;
	margin-left: 8px;
}

#entire-search-value {
	outline: none;
	box-shadow: none;
	background: transparent;
	border-style: none;
	width: 86%;
	vertical-align: middle;
	color: #ddd;
	letter-spacing: 1px;
	margin-left: 8px;
}

#entire-vod-series-search-input {
	outline: none;
	box-shadow: none;
	background: transparent;
	border-style: none;
	width: 80%;
	vertical-align: middle;
	color: #ddd;
	letter-spacing: 1px;
}

#vod-series-current-category {
	width: 35%;
	font-size: 35px;
	color: #999;
	text-align: right;
	padding: 0 10px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.vod-series-category-item {
	padding: 16px 20px;
	font-size: 32px;
	color: #eee;
	width: 100%;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #4b3d4f;
	margin-bottom: 2px;
	border: solid 2px #030208;
}

.vod-series-category-item.selected {
	color: yellow;
}

#vod-series-menus-container {
	position: relative;
	height: 885px;
	overflow-y: scroll;
}

.vod-series-category-item:hover,
.vod-series-category-item.active {
	border: solid 2px yellow;
}

.vod-series-menu-item-container {
	display: inline-block;
	width: 20%;
	padding: 10px;
}

.vod-series-menu-item-container img {
	width: 100%;
	height: 260px;
	object-fit: fill;
	background: #bbb;
}

.vod-series-menu-item {
	border-radius: 10px;
	overflow: hidden;
	border: 3px solid transparent;
	background-origin: border-box;
	transition: all 0.1s;
	position: relative;
}

.vod-series-menu-item-title-wrapper {
	font-size: 21px;
	color: #fff;
	height: 80px;
	background: #624a47;
	position: relative;
}

.resume-progress-bar {
	background-color: red;
	height: 12px;
	width: 0%;
}

.vod-series-menu-item-title {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
	padding: 0 6px;
	text-overflow: ellipsis;
	font-weight: lighter;
	white-space: initial;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.vod-series-menu-item-container:hover .vod-series-menu-item,
.vod-series-menu-item-container.active .vod-series-menu-item {
	transform: scale(1.02);
}

.vod-series-menu-item-container:hover .vod-series-menu-item-title-wrapper,
.vod-series-menu-item-container.active .vod-series-menu-item-title-wrapper {
	background: yellow;
	color: #222;
}

#sort-button {
	font-size: 28px;
}

#sort-button-container span {
	display: inline-block;
	vertical-align: middle;
}

#sort-button-icon {
	font-size: 26px;
	margin-left: 40px;
}

#sort-button-container {
	display: inline-block;
	color: #fff;
	border-radius: 2px;
	padding: 4px 20px;
	border: solid 2px transparent;
	background-color: #533a67;
}

#sort-button-container.active {
	border: solid 2px yellow;
	border-radius: 2px;
	padding: 4px 20px;
}

#all-vod-counter,
#all-series-counter {
	font-size: 30px;
	color: white;
	text-align: right;
	position: absolute;
	right: 20px;
}

.vod-top-bar {
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.vod-series-category-name {
	text-overflow: ellipsis;
	overflow: hidden;
	height: 1.2em;
	width: 100%;
	display: initial;
	align-items: center;
}

.vod-series-category-length {
	width: 50%;
	display: inline-block;
	text-align: right;
}

.movie-item-wrapper {
	border-radius: 4px 4px 4px 4px;
	border: solid 2px #5c3435;
}

.vod-series-background-img {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.vod-series-background-img-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(16, 16, 16, 0.65);
}

.vod-series-summary-page-contents-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#vod-summary-page-left-part {
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.vod-summary-page-left {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}

#vod-summary-page-right-part {
	width: 66.66%;
	display: inline-block;
	vertical-align: top;
}

#vod-summary-page-content {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: rgba(42, 14, 45, 0.7);
	padding: 0 10px;
}

#series-summary-page-content {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: rgba(42, 14, 45, 0.7);
}

#vod-summary-image-wrapper {
	position: relative;
}

#series-summary-left-part {
	display: inline-block;
	width: 35%;
	vertical-align: top;
}

#series-summary-image-wrapper {
	position: relative;
}

#series-summary-image-wrapper img {
	left: 10%;
	height: 480px;
	position: absolute;
	transform: translateY(-50%);
	max-width: 324px;
	border-radius: 6px;
}

#series-summary-informations-container {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

#season-episodes-container {
	white-space: nowrap;
	height: 100vh;
}

#series-summary-episode-items-container {
	vertical-align: top;
	height: 88vh;
	overflow-y: scroll;
	position: relative;
}

#series-summary-episode-items-container-wrapper {
	width: 70%;
	display: inline-block;
	padding: 50px;
}

#series-summary-episode-series-title {
	text-align: right;
	margin-bottom: 20px;
}

#season-items-container {
	position: relative;
	overflow-x: scroll;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	height: 100%;
	padding: 100px 0 60px 0;
	background: #172027;
	border-right: 2px solid #7c7d7f;
}

.season-item-container {
	font-size: 28px;
	color: #fff;
	padding: 10px 0px 10px 60px;
	width: 100%;
	vertical-align: middle;
	white-space: nowrap;
	margin-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
}

.season-item-container.active {
	background: #163f5a;
}

.season-item-container.selected {
	color: yellow;
}

.episode-item-wrapper {
	font-size: 24px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	width: 99%;
	overflow: hidden;
	text-overflow: ellipsis;
	background: rgb(71, 60, 69);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	height: 208px;
	border: solid 2px transparent;
}

.episode-item-wrapper.active {
	border: solid 2px yellow;
}

#vod-summary-image-wrapper img {
	left: 10%;
	height: 470px;
	width: 310px;
	position: absolute;
	transform: translateY(-50%);
	border-radius: 6px;
}

.vod-summary-information-container {
	height: 300px;
}

.series-summary-information-container {
	height: 460px;
}

#series-summary-page .vod-summary-information-container {
	padding-left: 0;
}

.vod-summary-item {
	margin-bottom: 0;
	font-size: 27px;
	white-space: nowrap;
}

.vod-summary-item-label {
	margin-right: 15px;
	display: inline-block;
	vertical-align: top;
}

.vod-summary-item-text {
	font-size: 27px;
}

#vod-summary-name,
#series-summary-name {
	font-size: 32px;
	font-weight: 700;
	margin-top: 30px;
	color: #fff;
	margin-bottom: 5px;
}

.max-line-2 {
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.max-line-4 {
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 4;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

#vod-summary-description,
#series-summary-description {
	margin-top: 20px;
	font-size: 27px;
	line-height: 36px;
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 11;
	-webkit-line-clamp: 11;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	font-weight: lighter;
	white-space: initial;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

#vod-summary-action-container {
	margin-top: 330px;
	height: 110px;
	padding: 20px;
	background-color: rgba(70, 36, 74, 0.8);
}

#series-summary-action-container {
	margin-top: 420px;
	height: 110px;
	padding: 20px;
	background-color: rgba(70, 36, 74, 0.8);
}

.vod-series-action-btn {
	font-size: 25px;
	border-radius: 50px;
	padding: 15px 50px;
	margin-right: 10px;
	/* background: #555; */
	color: #ddd;
	border: none !important;
	transition: all 0.2s;
}

.vod-series-action-btn.active {
	background: #6581ea;
	color: #fff;
}

.vod-series-action-btn:hover {
	background: #6581ea;
	color: #fff;
}

#vod-watch-movie-button {
	margin-left: 590px;
}

#series-watch-movie-button {
	margin-left: 590px;
}

.vod-genre-text-content {
	font-size: 27px;
}

.vod-genre-text-year {
	font-size: 27px;
}

.cast-content {
	text-overflow: ellipsis;
	font-weight: lighter;
	white-space: initial;
	display: -webkit-box;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-weight: 700;
}

#back_icon {
	width: 28px;
	margin-top: -10px;
}

#search-icon {
	margin-top: -8px;
	width: 28px;
}

#selected-season-name {
	font-size: 30px;
}

.sort-direction-icon {
	width: 36px;
	filter: brightness(0) invert(1);
	margin-left: 10px;
}

#name-sort-container {
	margin-left: 30px;
	align-items: center;
	background-color: #533a67;
	border: solid 2px transparent;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

#name-sort-container.active {
	border: solid 2px yellow;
}

.resume-progressbar-wrapper {
	background: black;
}

.resume-progressbar-wrapper.no-bk {
	background: transparent;
}

.series-resume-progressbar-wrapper {
	background: black;
	margin-top: -17px;
	position: relative;
	top: 209px;
	width: 349px;
}

.episode-resume-progressbar-wrapper {
	background: rgba(0, 0, 0, 0.3);
	margin-top: -17px;
	position: relative;
	top: 15px;
}

.episode-resume-progress-bar {
	background-color: red;
	height: 8px;
	width: 0%;
	margin-top: 8px;
}
